<table class="table table-condensed table-borderless">
    <colgroup>
        <col style="width: 1%;">
        <col>
        <col style="width: 1%;">
    </colgroup>
    <tbody>
        <ng-template ngFor let-field [ngForOf]="formFields">
            <tr *ngIf="!field.isDependency()">
                <!--Form entry label-->
                <td class="text-right"><label>{{field.getUserPrompt()}}:</label></td>
                <!--Form entry field: depends on type (uri/literal) and optionally on datatype -->
                <td>
                    <div *ngIf="field.getType() == 'literal'">
                        <div [ngSwitch]="field.getDatatype()">
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#string'">
                                <input class="form-control input-sm" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()"
                                    [disabled]="!field.checked">
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#integer'">
                                <input class="form-control input-sm" [(ngModel)]="field.value" type="number" step="1"
                                    (ngModelChange)="onModelChanged()" [disabled]="!field.checked">
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#float'">
                                <input class="form-control input-sm" [(ngModel)]="field.value" type="number" step="any"
                                    (ngModelChange)="onModelChanged()" [disabled]="!field.checked">
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#boolean'" class="hbox">
                                <input class="form-control input-sm" [ngModel]="field.value" style="flex: 1"
                                    (ngModelChange)="onModelChanged()" disabled>
                                <span class="hbox" style="align-items: center; margin-left: 10px; justify-content: center;">
                                    <label class="radio-inline">
                                        <input type="radio" (click)="field.value='true'" [checked]="field.value=='true'"
                                            [disabled]="!field.checked">true
                                    </label>
                                    <label class="radio-inline" style="margin-left: 15px;">
                                        <input type="radio" (click)="field.value='false'" [checked]="field.value=='false'"
                                            [disabled]="!field.checked">false
                                    </label>
                                </span>
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#date'" class="hbox">
                                <input class="form-control input-sm" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                                <input class="form-control input-sm" style="margin-left: 10px;" type="date"
                                    [(ngModel)]="field.value" [disabled]="!field.checked"> 
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#time'" class="hbox">
                                <input class="form-control input-sm" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                                <input class="form-control input-sm" style="margin-left: 10px;" type="time"
                                    [(ngModel)]="field.value" (ngModelChange)="onModelChanged()" [disabled]="!field.checked">
                            </div>
                            <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#datetime'" class="hbox">
                                <input class="form-control input-sm" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                                <input class="form-control input-sm" style="margin-left: 10px;" type="datetime-local"
                                    [(ngModel)]="field.value" (ngModelChange)="onModelChanged()" [disabled]="!field.checked">
                            </div>
                            <div *ngSwitchDefault class="hbox" style="align-items: center;">
                                <input class="form-control input-sm" style="flex:1" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()"
                                    (input)="onEntryValueChange($event.target.value, field)" [disabled]="!field.checked">
                                <span *ngIf="field.getLang()" style="margin-left: 4px;">
                                    <lang-picker size="sm" [lang]="field.getLang()" disabled="true">
                                    </lang-picker>
                                </span>
                                <span *ngIf="field.getConverter() == 'http://art.uniroma2.it/coda/contracts/langString' 
                                        && field.getConverterArg()" style="margin-left: 4px;">
                                    <lang-picker size="sm" [lang]="field.getConverterArg().value"
                                        (langChange)="onConverterLangChange($event, field.getConverterArg())">
                                    </lang-picker>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="field.getType() == 'uri'">
                         <div class="input-group input-group-sm">
                            <input type="text" class="form-control" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()" [disabled]="!field.checked">
                            <div class="input-group-btn">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Pick an existing resource" [disabled]="!field.checked">
                                    <img src="../../../assets/images/icons/res/class.png">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a (click)="pickExistingReource('cls', field)">Class</a></li>
                                    <li><a (click)="pickExistingReource('individual', field)">Instance</a></li>
                                    <li><a *ngIf="isProjectSKOS()" (click)="pickExistingReource('concept', field)">Concept</a></li>
                                    <li><a *ngIf="isProjectSKOS()" (click)="pickExistingReource('conceptScheme', field)">ConceptScheme</a></li>
                                    <li><a *ngIf="isProjectSKOS()" (click)="pickExistingReource('skosCollection', field)">Collection</a></li>
                                    <li><a (click)="pickExistingReource('property', field)">Property</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <!--Mandatory/Optional-->
                <td>
                    <span *ngIf="field.isMandatory()" title="Mandatory field">*</span>
                    <div *ngIf="!field.isMandatory()" class="checkbox">
                        <label style="display: inline">
                            <input type="checkbox"[(ngModel)]="field.checked" [ngModelOptions]="{standalone: true}"
                                title="Optional field, check to insert">
                        </label>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>