<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="height:70vh;">
    <div *ngIf="context.resource" style="display: flex; align-items: center; margin-bottom: 5px;">
        Show all properties
        <input type="checkbox" style="margin-left: 3px;" (change)="onCheckboxChange($event.target.checked)">
    </div>
    <property-tree-panel [editable]="false" [roots]="context.rootProperties" [resource]="domainRes"
        (nodeSelected)="onPropertySelected($event)">
    </property-tree-panel>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedProperty">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>