<div [class]="inputClass">
    
    <input *ngIf="type != 'select'" [type]="inputType" class="form-control" [(ngModel)]="value" [readonly]="!editInProgress">

    <!-- to show only if type == "select" and create a drop-down list with the items provided with "options" -->
    <select *ngIf="type == 'select'" [(ngModel)]="value" class="form-control" [disabled]="!editInProgress">
        <option *ngFor="let o of options" [value]="o">{{o}}</option>
    </select>

    <!-- Edit buttons -->
    <span class="input-group-btn">
        <button *ngIf="!editInProgress" class="btn btn-default" type="button" style="width:36px;"
            (click)="edit()" placeholder="Edit">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button *ngIf="editInProgress" class="btn btn-default" type="button" style="width:18px; padding: 0px;"
            (click)="confirmEdit()" placeholder="Confirm">
            <span class="glyphicon glyphicon-ok" style="color: green"></span>
        </button>
        <button *ngIf="editInProgress" class="btn btn-default" type="button" style="width:18px; padding: 0px;"
            (click)="cancelEdit()" placeholder="Cancel">
            <span class="glyphicon glyphicon-remove" style="color: red"></span>
        </button>
    </span>
</div>