<div class="vbox">
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Vocbench Preferences</label>
        </div>
       
        <div class="panel-body vbox">
                
            <div class="subPanel">
                <div class="subPanel-heading">
                    <label style="flex: 1">Resource view mode:</label>
                </div>
                <div class="subPanel-body">
                    <div class="hbox">
                        <div class="vbox" style="margin-right: 8px;">
                            <select class="form-control input-sm" style="margin-bottom: 5px;" [(ngModel)]="resViewMode" (ngModelChange)="onResViewModeChanged()">
                                <option value="splitted">Splitted</option>
                                <option value="tabbed">Tabbed</option>
                            </select>
                            <div *ngIf="resViewMode == 'tabbed'" class="alert alert-info" role="alert">
                                The Resource View is shown in a tab and multiple Resource View can be open in different tabs.
                                The first tab cannot be closed and is always synched with the resource selected in the tree/list.
                            </div>
                            <div *ngIf="resViewMode == 'splitted'" class="alert alert-info" role="alert">
                                The Resource View panel is splitted in two: on the left there is a main Resource View which describes
                                (and is synched with) the resource selected in the tree/list; on the right there is an optional
                                secondary Resource View which describes a resource selected (double click) from the main Resource View.
                            </div>
                        </div>
                        <div>
                            <img *ngIf="resViewMode == 'tabbed'" src="../../assets/images/res_view_tabbed.jpg">
                            <img *ngIf="resViewMode == 'splitted'" src="../../assets/images/res_view_splitted.jpg">
                        </div>
                    </div>
                        
                </div>
            </div>

            <div class="hbox">

                <div class="subPanel vbox">
                    <div class="subPanel-heading">
                        <label style="flex: 1">Rendering Languages:</label>
                        <span *ngIf="getActiveLanguageItems().length == 0" class="greyText" style="margin-right: 5px;">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            No language selected implicitly means all languages
                        </span>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default" (click)="changeAllLangStatus(true)" title="Check all">
                                <span class="glyphicon glyphicon-check"></span>
                            </button>
                            <button class="btn btn-default" (click)="changeAllLangStatus(false)" title="Uncheck all">
                                <span class="glyphicon glyphicon-unchecked"></span>
                            </button>
                        </div>
                    </div>
                    <div class="subPanel-body scrollableContainer">
                        
                        <table class="table table-condensed table-borderless table-hoverable">
                            <colgroup>
                                <col style="width: 1%">
                                <col style="width: 1%">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center" style="padding: 0px 8px;">Active</th>
                                    <th class="text-center"  style="padding: 0px 8px;" nowrap>ISO code</th>
                                    <th class="text-center" style="padding: 0px 8px;">Language</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of renderingLanguages">
                                    <td class="text-center">
                                        <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="updateLanguagesPref()">
                                    </td>
                                    <td class="text-center" nowrap>{{l.lang.tag}}</td>
                                    <td class="text-center">
                                        <lang-item [language]="l.lang"></lang-item>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="subPanel vbox" style="margin-left: 5px;">
                    
                    <div class="subPanel-heading">
                        <label style="flex: 1">Other preferences:</label>
                    </div>

                    <div class="subPanel-body scrollableContainer">

                        <div class="panel panel-default" style="padding: 4px; margin-bottom: 2px">
                            <div class="panel-body">
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="showFlags" (ngModelChange)="onShowFlagChange()"> Show flags
                                    </label>
                                    <span class="glyphicon glyphicon-info-sign"
                                        title="Determines if the flags icon are shown in place of the language ISO code">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" style="padding: 4px; margin-bottom: 2px">
                            <div class="panel-body">
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="showInstNumb" (ngModelChange)="onShowInstNumbChange()"> Show instances number
                                    </label>
                                    <span class="glyphicon glyphicon-info-sign"
                                        title="Determines if the amount of instances of a class are shown in the class tree">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" style="padding: 4px; margin-bottom: 2px">
                            <div class="panel-body">
                                <label>Project theme
                                    <span class="glyphicon glyphicon-info-sign" title="Changes the color of the header/navigationBar for the current project"></span>
                                </label>
                                <label *ngFor="let t of themes" class="checkbox-inline" style="margin-left: 12px;">
                                    <input type="checkbox" style="margin-left: -18px;" [checked]="t == selectedTheme" (click)="changeTheme(t)">
                                    <div style="border: 1px solid black; display: inline-block">
                                        <div style="width: 12px; height: 12px; float: left" [ngStyle]="{'background-color': t.mainColor}"></div>
                                        <div style="width: 12px; height: 12px; float: left" [ngStyle]="{'background-color': t.altColor}"></div>
                                    </div>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
    
</div>