<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label style="flex: 1;">Dangling concepts</label>
        <select class="form-control input-xs" style="width: initial; margin-right: 4px;" [(ngModel)]="selectedScheme">
            <option *ngFor="let s of schemeList" [ngValue]="s">{{s.getShow()}}</option>
        </select>
        <button class="btn btn-xs btn-default" (click)="runIcv()" [disabled]="!selectedScheme">Run</button>
    </div>
    <div class="panel-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>
                skos:Concept(s) that are not reachable in a concept tree because they have no broader
                concept and are not top concept of its scheme.
            </i>
        </div>

        <div *ngIf="!selectedScheme" style="padding: 4px;">
            No scheme selected. In order to run this check you need to
            <a [routerLink]="['/Schemes']">select a skos:conceptScheme</a>
        </div>

        <ng-template [ngIf]="selectedScheme">
            <div *ngIf="!brokenConceptList" style="padding: 4px;">
                Press <strong>Run</strong> button to run the check.
            </div>
            <div *ngIf="brokenConceptList" class="scrollableContainer">
                <table class="table table-condensed table-hoverable" style="flex: 1;">
                    <thead>
                        <tr>
                            <th class="text-center">Concept</th>
                            <th class="text-center" style="width: 1%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let concept of brokenConceptList">
                            <td>
                                <rdf-resource [resource]="concept"></rdf-resource>
                            </td>
                            <td style="white-space: nowrap">
                                <button class="btn btn-xs btn-default" (click)="selectBroader(concept)">Select skos:broader</button>
                                <button class="btn btn-xs btn-default" (click)="setAsTopConcept(concept)">Set as skos:topConceptOf</button>
                                <button class="btn btn-xs btn-default" (click)="removeFromScheme(concept)">Remove from scheme</button>
                                <button class="btn btn-xs btn-default" (click)="deleteConcept(concept)">Delete concept</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-template>
    </div>
    <div class="panel-footer">
        <div *ngIf="brokenConceptList && !brokenConceptList.length == 0" class="dropup pull-right">
            <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
                Quick action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="setAllTopConcept()" style="cursor: pointer;">Set all as skos:topConceptOf</a></li>
                <li><a (click)="selectBroaderForAll()" style="cursor: pointer;">Select a skos:broader for all</a></li>
                <li><a (click)="removeAllFromScheme()" style="cursor: pointer;">Remove all from scheme</a></li>
                <li><a (click)="deleteAll()" style="cursor: pointer;">Delete all</a></li>
            </ul>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>