<div class="vbox">

     <div class="panel panel-default vbox">

        <div class="panel-body hbox"> 

            <div class="panel panel-default vbox" style="flex: 2;">
                <div class="panel-heading">
                    <label style="flex: 1;">Users:</label>
                    <div class="pull-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button #actBtn class="btn btn-default" [ngClass]="{active: showActive}" (click)="showActive = !showActive"
                                    title="Show/Hide active users" (mouseup)="actBtn.blur()">Active
                                </button>
                                <button #inactBtn class="btn btn-default" [ngClass]="{active: showInactive}" (click)="showInactive = !showInactive"
                                    title="Show/Hide inactive users" (mouseup)="inactBtn.blur()">Inactive
                                </button>
                                <button #newBtn class="btn btn-default" [ngClass]="{active: showNew}" (click)="showNew = !showNew"
                                    title="Show/Hide new users" (mouseup)="newBtn.blur()">New
                                </button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" (click)="createUser()" title="Create user">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-template ngFor let-u [ngForOf]="users">
                            <div *ngIf="isUserVisible(u)" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                                <span style="flex:1">{{u.getGivenName()}} {{u.getFamilyName()}}</span>
                                <span *ngIf="u.getStatus() == 'NEW'" class="glyphicon glyphicon-exclamation-sign pull-right"
                                    style="color: red" title="New registered user"></span>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="panel panel-default vbox" style="flex: 5; margin-left: 5px;">
                <div class="panel-heading">
                    <label style="flex: 1;">User Details:</label>
                    <div *ngIf="selectedUser" class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-default" (click)="enableDisableUser()"
                            [ngClass]="{'active green': isUserActive(selectedUser)}" [disabled]="isChangeStatusButtonDisabled()">
                            Active
                        </button>
                        <button type="button" class="btn btn-default" (click)="enableDisableUser()"
                            [ngClass]="{'active red': !isUserActive(selectedUser)}" [disabled]="isChangeStatusButtonDisabled()">
                            Inactive
                        </button>
                    </div>
                </div>
                <div class="panel-body" style="flex: 1;">
                    <div *ngIf="selectedUser">
                        <table class="table table-condensed table-borderless">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 40%;">
                                <col style="width: 10%;">
                                <col style="width: 40%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td nowrap><label>Given name:</label></td>
                                    <td><input class="form-control input-sm" [value]="selectedUser.getGivenName()" readonly></td>
                                    <td nowrap><label>Family name:</label></td>
                                    <td><input class="form-control input-sm" [value]="selectedUser.getFamilyName()" readonly></td>
                                </tr>
                                <tr>
                                    <td nowrap><label>E-mail:</label></td>
                                    <td><input class="form-control input-sm" [value]="selectedUser.getEmail()" readonly></td>
                                    <td nowrap><label>Phone:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getPhone()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getPhone()" class="form-control input-sm" [value]="selectedUser.getPhone()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Birthday:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getBirthday()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getBirthday()" class="form-control input-sm" [value]="selectedUser.getBirthday()" readonly>
                                    </td>
                                    <td nowrap><label>Gender:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getGender()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getGender()" class="form-control input-sm" [value]="selectedUser.getGender()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Country:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getCountry()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getCountry()" class="form-control input-sm" [value]="selectedUser.getCountry()" readonly>
                                    </td>
                                    <td nowrap><label>Address:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getAddress()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getAddress()" class="form-control input-sm" [value]="selectedUser.getAddress()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Affiliation:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getAffiliation()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getAffiliation()" class="form-control input-sm" [value]="selectedUser.getAffiliation()" readonly>
                                    </td>
                                    <td nowrap><label>Url:</label></td>
                                    <td>
                                        <input *ngIf="!selectedUser.getUrl()" class="form-control input-sm" readonly>
                                        <input *ngIf="selectedUser.getUrl()" class="form-control input-sm" [value]="selectedUser.getUrl()" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap><label>Language proficiencies:</label></td>
                                    <td><input class="form-control input-sm" [value]="selectedUser.getLanguageProficiencies()" readonly></td>
                                    <td nowrap><label>Registration Date:</label></td>
                                    <td><input class="form-control input-sm" [value]="selectedUser.getRegistrationDate()" readonly></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer" *ngIf="selectedUser">
                    <button class="btn btn-default btn-xs pull-right" (click)="deleteUser()" [disabled]="isDeleteButtonDisabled()">
                        Delete
                    </button>
                </div>
            </div>

         </div>

    </div> 

</div>