<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">  
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <div class="btn-group btn-group-xs" role="group" title="Create Collection">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="isCreateDisabled()">
                    <img src="../../../../../assets/images/icons/actions/collection_create.png" class="panelButtonImg"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="createRoot('skosCollection')">Collection</a></li>
                    <li><a (click)="createRoot('skosOrderedCollection')">OrderedCollection</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-xs" role="group" >
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Create a nested Collection" 
                    [disabled]="isCreateChildDisabled()">
                    <img src="../../../../../assets/images/icons/actions/collection_addNested.png" class="panelButtonImg"/>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="createChild('skosCollection')">Collection</a></li>
                    <li><a (click)="createChild('skosOrderedCollection')">OrderedCollection</a></li>
                </ul>
            </div>
            <button class="btn btn-default" title="Delete Collection" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../../assets/images/icons/actions/collection_delete.png" class="panelButtonImg"/>
            </button>
        </div>
        <div style="flex: 1;"></div>
        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <collection-tree [rendering]="rendering" (nodeSelected)="onNodeSelected($event)" 
            (conceptRemovedFromScheme)="onConceptRemovedFromScheme($event)">
        </collection-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>
    
</div>