<div class="vbox">

    <!--Tabs navigation-->
    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li *ngFor="let t of tabs" [ngClass]="{active : t.active}">
            <a href (click)="selectTab(t)">
                Query
                <span *ngIf=(t.removable) class="glyphicon glyphicon-remove-circle"
                    (click)="closeTab(t)"
                    onmouseover="this.className='glyphicon glyphicon-remove-sign'; this.style.cursor='pointer'"
                    onmouseout="this.className='glyphicon glyphicon-remove-circle'; this.style.cursor='default'">
                </span>
            </a>
        </li>
        <li [ngClass]="{disabled : tabs.length==10}">
            <a href (click)="addTab()" style="font-weight: bold" 
                onmouseover="this.style.color='#555'" onmouseout="this.style.color='#337ab7'">
                +
            </a>
        </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}">
            <ng-template [ngIf]="t.active">
                
                <yasgui [query]="t.query" (querychange)="onQueryChange(t, $event)"></yasgui>
                
                <!--Commands (submit, clear, inferred)-->
                <div style="margin: 5px 0;">
                    <button class="btn btn-xs btn-primary" type="button" (click)="doQuery(t)" [disabled]="t.queryInProgress || !t.queryValid">
                        Submit
                    </button>
                    <button class="btn btn-xs btn-info" type="button" (click)="clear(t)" [disabled]="t.queryResult == null">Clear</button>
                    <div class="hbox" style="align-items: center; display: inline-flex;">
                        <label style="margin-right: 5px;">Include inferred statement:</label>
                        <input #inferredcb type="checkbox" (change)="t.inferred=inferredcb.checked">
                    </div>
                    <div class="hbox pull-right" style="align-items: center">
                        <span style="display: inline; margin-left: 5px;">
                            <span *ngIf="t.queryResult != null && t.resultType != 'boolean'">
                                Results count: {{t.queryResult.length}}
                            </span>
                            <span *ngIf="t.queryTime">(Done in {{t.queryTime}})</span>
                        </span>
                        <div class="dropdown pull-right" style="margin-left: 5px;">
                            <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown"
                                [disabled]="t.queryResult == null">
                                Save results as... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="exportAsJSON(t)">Json</a></li>
                                <li><a (click)="exportAsCSV(t)">CSV</a></li>
                                <li><a (click)="exportAsTSV(t)">TSV</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--Query result-->
                <div *ngIf="t.queryResult != null" class="vbox">
                    <div class="scrollableContainer" style="border: 1px solid #ddd">
                        <table class="table table-striped table-condensed table-hoverable" style="flex: 1">
                            <thead>
                                <tr>
                                    <th *ngFor="let h of t.headers">{{h}}</th>
                                </tr>
                            </thead>
                            <tbody style="overflow: auto;">
                                <ng-template [ngIf]="t.resultType != 'boolean'">
                                    <ng-template ngFor let-bindings [ngForOf]="t.queryResult" let-i="index">
                                        <ng-template [ngIf]="i >= t.resultsPage*resultsLimit && i < t.resultsPage*resultsLimit + resultsLimit"> <!-- paging filter -->
                                            <tr>
                                                <td *ngFor="let h of t.headers">
                                                    <!--<ng-template [ngIf]="bindings[h]">
                                                        {{getBindingShow(bindings[h])}}
                                                    </ng-template>-->
                                                    <span *ngIf="bindings[h]" [ngClass]="{ clickable: isBindingResource(bindings[h]) }" (click)="onBindingClick(bindings[h])">
                                                        {{getBindingShow(bindings[h])}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                                <ng-template [ngIf]="t.resultType == 'boolean'">
                                    <tr>
                                        <td>
                                            {{t.queryResult}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="t.queryResult.length > resultsLimit">
                        <div class="btn-group btn-group-xs pull-right" style="margin-top: 4px;" role="group">
                            <button class="btn btn-default" title="Previous page" (click)="t.resultsPage=t.resultsPage-1" [disabled]="t.resultsPage==0">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </button>
                            <button class="btn btn-default" style="cursor: auto" disabled>
                                <span>{{t.resultsPage+1}} of {{t.resultsTotPage}}</span>
                            </button>
                            <button class="btn btn-default" title="Next page" (click)="t.resultsPage=t.resultsPage+1" [disabled]="t.resultsPage==t.resultsTotPage-1">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>
                    </div>


                </div>
            </ng-template>
        </div>
        
    </div>
    

</div>