<div style="position: relative">
    <div class="hbox" style="align-items: center; justify-content: flex-end;">
        <span style="margin-right: 3px;">Fetch prefix from prefix.cc</span>
        <input type="checkbox" (change)="onCheckboxChange($event.target.checked)" [(ngModel)]="fetchFromPrefixCheck">
    </div>
    <textarea #txtarea>{{query}}</textarea>

    <div style="position: absolute; top: 24px; right: 50px; z-index: 5; opacity: 0.7">
        <a href="http://about.yasgui.org/" target="_blank" class="btn btn-info btn-xs">YASGUI</a>
    </div>
</div>