<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group" style="margin-right: 4px;">
            <button class="btn btn-default" title="Create Class" (click)="createRoot()" [disabled]="isCreateDisabled()">
                <img src="../../../../assets/images/icons/actions/class_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Create SubClass" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../assets/images/icons/actions/class_addSubClass.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Delete Class" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../assets/images/icons/actions/class_delete.png" class="panelButtonImg"/>
            </button>
        </div>
        <div style="flex: 1"></div>
        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <class-tree [rendering]="rendering" [roots]="roots" (nodeSelected)="onNodeSelected($event)"></class-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>
    
</div>