<div class="vbox">
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Create project:</label>
        </div>
        
        <div class="panel-body scrollableContainer">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-1">Project Name:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control input-sm" name="projectName" [(ngModel)]="projectName"
                            placeholder="Project name" (ngModelChange)="onProjectNameChange()" sanitized>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1">Base URI:</label>
                    <div class="col-sm-11">
                        <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span style="margin-left: 5px;">{{baseUriPrefix}}</span>
                                </button>
                                <ul class="dropdown-menu" style="min-width: 70px;">
                                    <li *ngFor="let pref of baseUriPrefixList"><a (click)="baseUriPrefix = pref">{{pref}}</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" name="baseURI" [(ngModel)]="baseUriSuffix" (paste)="onBaseUriPaste($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-1">Model:</label>
                    <div class="col-sm-3">
                        <select class="form-control input-sm" [(ngModel)]="ontoModelType" name="ontoModelType">
                            <option *ngFor="let om of ontoModelList" [ngValue]="om.value">{{om.label}}</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-1">Lexicalization:</label>
                    <div class="col-sm-3">
                        <select class="form-control input-sm" [(ngModel)]="lexicalModelType" name="lexicalModelType">
                            <option *ngFor="let lm of lexicalModelList" [ngValue]="lm.value">{{lm.label}}</option>
                        </select>
                    </div>
                    <div class="col-sm-offset-1 col-sm-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="history" name="history"> History
                            </label>
                            <span class="glyphicon glyphicon-info-sign"
                                title="Enable this to keep track of the changes made on the working graph">
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="validation" name="validation"> Validation
                            </label>
                            <span class="glyphicon glyphicon-info-sign"
                                title="Enable this to keep track of change requests in order to validate them later (accepting or rejecting)">
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            <!--Triple store configuration-->
            <div class="subPanel">
                <div class="subPanel-heading">
                    <label>Data Store</label>
                </div>
                <div class="subPanel-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Repository Access:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="form-control input-sm" [(ngModel)]="selectedRepositoryAccess" name="selectedRepositoryAccess">
                                        <option *ngFor="let repoAcc of repositoryAccessList" [ngValue]="repoAcc">{{repoAcc}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" (click)="configureRemoteRepositoryAccess()" [disabled]="!isSelectedRepoAccessRemote()">Remote Access Config</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Data repo -->
                        <div class="form-group">
                            <label class="control-label col-sm-2">Data Repository ID</label>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" name="dataRepoId" [(ngModel)]="dataRepoId"
                                        placeholder="Data Repository ID" [disabled]="isSelectedRepoAccessCreateMode()">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" (click)="changeRemoteRepository('data')"
                                            title="Select remote repository" [disabled]="isSelectedRepoAccessCreateMode()">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <ng-template [ngIf]="isSelectedRepoAccessCreateMode()">
                                <div class="control-label col-sm-2">
                                    <label>Configuration</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group" >
                                        <select class="form-control input-sm" [(ngModel)]="selectedDataRepoConf" name="selectedDataRepoConf">
                                            <option *ngFor="let rc of dataRepoConfList" [ngValue]="rc" >{{rc.configuration.shortName}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm" (click)="configureDataRepo()">Configure</button>
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="!isSelectedRepoAccessCreateMode()">
                                <div class="control-label col-sm-2">
                                    <label>Backend type</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm" [(ngModel)]="selectedCoreRepoBackendType" name="selectedCoreRepoBackendType">
                                        <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                                    </select>
                                </div>
                            </ng-template>
                        </div>

                        <!-- Support repo -->

                        <div class="form-group">
                            <label class="control-label col-sm-2">History/Validation Repository ID</label>
                            <div class="col-sm-4">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" name="supportRepoId" [(ngModel)]="supportRepoId"
                                        placeholder="History/Validation Repository ID" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" (click)="changeRemoteRepository('support')"
                                            title="Select remote repository" [disabled]="isSelectedRepoAccessCreateMode() || !(history || validation)">
                                            <span class="glyphicon glyphicon-folder-open"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <ng-template [ngIf]="isSelectedRepoAccessCreateMode()">
                                <div class="control-label col-sm-2" style="white-space: nowrap">
                                    <span class="glyphicon glyphicon-info-sign" title="It is highly recommended not to use inference and to use a native repository"></span>
                                    <label>Configuration</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <select class="form-control input-sm" [(ngModel)]="selectedSupportRepoConf" name="selectedSupportRepoConf"
                                            [disabled]="!(history || validation)">
                                            <option *ngFor="let rc of supportRepoConfList" [ngValue]="rc">{{rc.configuration.shortName}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm" (click)="configureSupportRepo()" [disabled]="!(history || validation)">
                                                Configure
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template [ngIf]="!isSelectedRepoAccessCreateMode()">
                                <div class="control-label col-sm-2">
                                    <label>Backend type</label>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm" [(ngModel)]="selectedSupportRepoBackendType" name="selectedSupportRepoBackendType"
                                        [disabled]="!(history || validation)">
                                        <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                                    </select>
                                </div>
                            </ng-template>
                        </div>

                    </form>
                    
                </div>
            </div>

            <!--Extention points configuration-->
            <div class="subPanel">
                <div class="subPanel-heading">
                    <div class="expandCollapseBtnContainer">
                        <img src="../../../assets/images/icons/arrow.png" (click)="extPointPanelOpen = !extPointPanelOpen"
                            [ngClass]="{'arrow-right' : !extPointPanelOpen}">
                    </div>
                    <label style="flex: 1">Optional settings:</label>
                </div>
                <div class="subPanel-body" *ngIf="extPointPanelOpen">

                    <div class="subPanel">
                        <div class="subPanel-heading">
                            <label style="flex: 1;">URI Generator</label>
                            <div class="checkbox" style="margin: 0px">
                                <label style="min-height: initial;">
                                    <input type="checkbox" [(ngModel)]="uriGenUseDefaultSetting"> Use default settings
                                </label>
                            </div>
                        </div>
                        <div class="subPanel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Plugin:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control input-sm" [(ngModel)]="selectedUriGenPlugin" (ngModelChange)="onUriGenPluginChanged()"
                                            name="selectedUriGenPlugin" [disabled]="uriGenUseDefaultSetting">
                                            <option *ngFor="let ugp of uriGenPluginList" [ngValue]="ugp">
                                                {{ugp.factoryID.substring(ugp.factoryID.lastIndexOf('.')+1)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Configuration:</label>
                                    <div class="col-sm-11">
                                        <div class="input-group">
                                            <select class="form-control input-sm" [(ngModel)]="selectedUriGenPluginConf" name="selectedUriGenPluginConf"
                                                [disabled]="uriGenUseDefaultSetting">
                                                <option *ngFor="let ugpConf of selectedUriGenPluginConfList" [ngValue]="ugpConf">
                                                    {{ugpConf.shortName}}
                                                </option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm" (click)="configureUriGenConf()" [disabled]="uriGenUseDefaultSetting">Configure</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="subPanel">
                        <div class="subPanel-heading">
                            <label style="flex: 1;">Rendering Engine</label>
                            <div class="checkbox" style="margin: 0px">
                                <label style="min-height: initial;">
                                    <input type="checkbox" [(ngModel)]="rendEngUseDefaultSetting"> Use default settings
                                </label>
                            </div>
                        </div>
                        <div class="subPanel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Plugin:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control input-sm" [(ngModel)]="selectedRendEngPlugin" (ngModelChange)="onRendEnginePluginChanged()"
                                            name="selectedRendEngPlugin" [disabled]="rendEngUseDefaultSetting">
                                            <option *ngFor="let rep of rendEngPluginList" [ngValue]="rep">
                                                {{rep.factoryID.substring(rep.factoryID.lastIndexOf('.')+1)}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Configuration:</label>
                                    <div class="col-sm-11">
                                        <div class="input-group">
                                            <select class="form-control input-sm" [(ngModel)]="selectedRendEngPluginConf" name="selectedRendEngPluginConf"
                                                [disabled]="rendEngUseDefaultSetting">
                                                <option *ngFor="let repConf of selectedRendEngPluginConfList" [ngValue]="repConf">
                                                    {{repConf.shortName}}
                                                </option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm" (click)="configureRendEngConf()" [disabled]="rendEngUseDefaultSetting">Configure</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="subPanel">
                        <div class="subPanel-heading">
                            <label style="flex: 1;">Project metadata property</label>
                            <div class="checkbox" style="margin: 0px">
                                <label style="min-height: initial;">
                                    <input type="checkbox" [(ngModel)]="useProjMetadataProp"> Use metadata project properties
                                </label>
                            </div>
                        </div>
                        <div class="subPanel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Creation date:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control input-sm" [(ngModel)]="creationDateProp" name="creationDateProp" [title]="creationDateProp.getURI()">
                                            <option *ngFor="let p of creationDatePropList" [ngValue]="p" [title]="p.getURI()">{{p.getShow()}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1">Modification date:</label>
                                    <div class="col-sm-11">
                                        <select class="form-control input-sm" [(ngModel)]="modificationDateProp" name="modificationDateProp" [title]="modificationDateProp.getURI()">
                                            <option *ngFor="let p of modificationDatePropList" [ngValue]="p" [title]="p.getURI()">{{p.getShow()}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        
        <div class="panel-footer">
            <button type="submit" class="btn btn-default btn-sm pull-right" (click)="createtNew()">Create</button>
            <span class="clearfix"></span> <!--To fix UI bug-->
        </div>
    </div>
    
</div>