<div class="treeNode">
	<rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode()" 
                [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}">
        </rdf-resource>
</div>