<div class="panel panel-default vbox">

    <div class="panel-heading">
        <div style="flex: 1"></div>
        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>

    <div class="panel-body vbox">
        <div class="scrollableContainer">
            <scheme-list-node *ngFor="let s of schemeList" [node]="s" [rendering]="rendering" (nodeSelected)="selectScheme(s)">
            </scheme-list-node>
            <div *ngIf="schemeList && schemeList.length==0">
                No skos:ConceptScheme(s)
            </div>
        </div>

    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>

</div>