<div class="modal-header">
    <h3 class="modal-title">Custom Range Editor</h3>
</div>
<div class="modal-body vbox" style="min-height: 50vh; max-height: 75vh;">
    
    <div class="hbox" style="align-items: center; flex: initial; margin-bottom: 5px;">
        <label style="white-space: nowrap; margin: 0px 3px;">Form Collection ID:</label>
        <div class="hbox">
            <div class="input-group input-group-xs">
                <span class="input-group-addon" style="padding-right: 2px">{{fcPrefix}}</span>
                <input type="text" class="form-control" [(ngModel)]="fcShortId" [disabled]="fcId">
            </div>
        </div>
    </div>
    
    <div class="hbox">
        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1">Custom Forms:</label>
            </div>
            <div class="panel-body vbox">
                <div class="scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable">
                        <tbody>
                            <tr *ngFor="let cForm of forms" (click)="selectForm(cForm)"
                                [ngClass]="{active: cForm == selectedForm, greyText: cForm.getLevel() == 'system'}">
                                <td>{{cForm.getId()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div style="align-self: center; margin: 5px;">
            <button class="btn btn-default btn-sm btn-block" (click)="addForm()" [disabled]="!selectedFormAvailable" [disabled]="context.readOnly">
                <span class="glyphicon glyphicon-chevron-left"></span>Add
            </button>
            <button class="btn btn-default btn-sm btn-block" (click)="removeForm()" [disabled]="!selectedForm || context.readOnly">
                Remove<span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        
        <div class="panel panel-default vbox">
            <div class="panel-heading">
                <label style="flex: 1">Available Custom Forms:</label>
            </div>
            <div class="panel-body vbox">
                <div class="scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable">
                        <tbody>
                            <tr *ngFor="let cForm of formsAvailable" (click)="selectFormAvailable(cForm)"
                                [ngClass]="{active: cForm == selectedFormAvailable, greyText: cForm.getLevel() == 'system'}">
                                <td>{{cForm.getId()}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default vbox" style="margin-top: 5px;">
        <div class="panel-heading">
            <label style="flex: 1">
                Suggestions:
                <span class="" title="Property/Classes suggested to use with this FormCollection"></span>
            </label>
            <div class="btn-group btn-group-xs" role="group">
                <div class="btn-group btn-group-xs" role="group" title="Add suggestion">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" [disabled]="context.readOnly">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a (click)="addSuggestionClass()">
                                <img src="../../../assets/images/icons/actions/class_create.png" /> Select class
                            </a>
                        </li>
                        <li>
                            <a (click)="addSuggestionProperty()">
                                <img src="../../../assets/images/icons/actions/prop_create.png" /> Select property
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="btn btn-default" title="Remove suggestion" (click)="removeSuggestion()"
                    [disabled]="!selectedSuggestion || context.readOnly">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="panel-body vbox">
            <div class="scrollableContainer">
                <div *ngFor="let s of suggestions" class="listItem" [ngClass]="{active: s == selectedSuggestion}" (click)="selectSuggestion(s)">
                    <rdf-resource [resource]="s"></rdf-resource>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="submitted && !isDataValid() || context.readOnly">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>