<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group" style="flex: 1">
            <button class="btn btn-default" title="Create Instance" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../assets/images/icons/actions/individual_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Delete Instance" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../assets/images/icons/actions/individual_delete.png" class="panelButtonImg"/>
            </button>
        </div>
        <div style="flex: 1"></div>
        <button class="btn btn-default btn-xs" style="margin: 0px 5px;" title="Rendering"
            (click)="rendering = !rendering" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <instance-list [cls]="cls" [rendering]="rendering" (nodeSelected)="onNodeSelected($event)">
        </instance-list>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>
    
</div>