<div class="hbox">

    <div class="subPanel vbox">
        <div class="subPanel-heading">
            <label style="flex: 1">Namespace management:</label>
            <div class="btn-group btn-group-xs" role="group">
                <button class="btn btn-default" title="Add mapping" (click)="addMapping()" [disabled]="!isAddNsPrefixMappingAuthorized()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default" title="Remove mapping" (click)="removeMapping()"
                    [disabled]="!selectedMapping || !selectedMapping.explicit || !isRemoveNsPrefixMappingAuthorized()">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button class="btn btn-default" title="Change prefix" (click)="changeMapping()"
                    [disabled]="!selectedMapping || !selectedMapping.explicit || !isChangeNsPrefixMappingAuthorized()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <div class="subPanel-body vbox">
            
            <div class="panel panel-default" style="margin: 4px">
                <div class="panel-body">
                    <table class="table table-condensed table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col>
                            <col style="width: 1%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><label>BaseURI:</label></td>
                                <td>
                                    <input type="text" class="form-control input-xs"
                                        [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isBaseURIValid() }" [ngModel]="baseURI"
                                        (ngModelChange)="onBaseURIChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()">
                                </td>
                                <td rowspan="2">
                                    <div class="btn-group-sm btn-group-vertical">
                                        <button class="btn btn-default" [ngClass]="{active: bind}" title="Bind/unbind namespace and baseURI"
                                            (click)="bindNamespaceBaseURI()">
                                            <span class="glyphicon glyphicon-link"></span>
                                        </button>
                                        <button class="btn btn-default" title="Apply namespace baseURI changes"
                                            [ngClass]="{'btn-primary': areNamespaceBaseURIChanged(), 'btn-default': !areNamespaceBaseURIChanged()}"
                                            (click)="applyNamespaceBaseURI()" [disabled]="!areNamespaceBaseURIChanged() || !isBaseuriNsEditAuthorized()">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Namespace:</label></td>
                                <td>
                                    <input type="text" class="form-control input-xs"
                                        [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isNamespaceValid() }" [ngModel]="namespace"
                                        (ngModelChange)="onNamespaceChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()" >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="scrollableContainer">
                <table class="table table-condensed table-striped table-hoverable">
                    <thead>
                        <tr>
                            <th class="text-center">Prefix</th>
                            <th class="text-center">Namespace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of nsPrefMappingList" (click)="selectMapping(m)"
                            [ngClass]="{active: m == selectedMapping, greyText: !m.explicit}">
                            <td class="text-center">{{m.prefix}}</td>
                            <td class="text-center">{{m.namespace}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="vbox" style="margin-left: 5px;">

        <!--Imports-->
        <div class="subPanel vbox">
            <div class="subPanel-heading">
                <label style="flex: 1">Imports:</label>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown" [disabled]="!isAddImportAuthorized()">
                        Add import from <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="importFromWeb()">
                            <span class="glyphicon glyphicon-globe"></span> Web
                        </a></li>
                        <li><a (click)="importFromWebToMirror()">
                            <span class="glyphicon glyphicon-import"></span> Web to mirror
                        </a></li>
                        <li><a (click)="importFromLocalFile()">
                            <span class="glyphicon glyphicon-open"></span> Local file
                        </a></li>
                        <li><a (click)="importFromOntologyMirror()">
                            <span class="glyphicon glyphicon-export"></span> Ontology mirror
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="subPanel-body vbox">
                <import-tree [imports]="importTree" (nodeRemoved)="removeImport($event)" (update)="onInportTreeUpdate()"></import-tree>
            </div>
        </div>

        <!--Ontology mirror management-->
        <div class="subPanel vbox">
            <div class="subPanel-heading">
                <label>Ontology Mirror Management:</label>
            </div>
            <div class="subPanel-body vbox">
                <div class="scrollableContainer">
                    <table class="table table-condensed table-borderless table-hoverable">
                        <colgroup>
                            <col>
                            <col>
                            <col style="width: 1%">
                            <col style="width: 1%">
                        </colgroup>
                        <tbody>
                            <tr *ngFor="let m of mirrorList">
                                <td>{{m.baseURI}}</td>
                                <td>{{m.file}}</td>
                                <td>
                                    <div class="dropdown pull-right">
                                        <button class="btn btn-default dropdown-toggle btn-xs" type="button" data-toggle="dropdown"
                                            title="Update mirror from..." [disabled]="!isUpdateMirrorAuthorized()">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a (click)="updateMirrorFromWebWithUri(m)">Update from web using baseURI</a></li>
                                            <li><a (click)="updateMirrorFromWebFromAltUrl(m)">Update from web from alternative URL</a></li>
                                            <li><a (click)="updateMirrorFromLocalFile(m)">Update from local file</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" (click)="deleteOntoMirror(m)" title="Delete mirror"
                                        [disabled]="!isDeleteMirrorAuthorized()">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>