<div class="vbox">

    <ul class="nav nav-tabs nav-tabs-xs" (click)="$event.preventDefault()">
        <li [ngClass]="{active : activeTab == 'cls', disabled: !isClassAuthorized() }">
            <a href (click)="selectTab('cls')">
                Class
            </a>
        </li>
        <ng-template [ngIf]="isProjectSKOS()">
            <li [ngClass]="{active : activeTab == 'concept', disabled: !isConceptAuthorized() }">
                <a href (click)="selectTab('concept')">
                    Concept
                </a>
            </li>
            <li [ngClass]="{active : activeTab == 'conceptScheme', disabled: !isSchemeAuthorized() }">
                <a href (click)="selectTab('conceptScheme')">
                    Scheme
                </a>
            </li>
            <li [ngClass]="{active : activeTab == 'skosCollection', disabled: !isCollectionAuthorized() }">
                <a href (click)="selectTab('skosCollection')">
                    Collection
                </a>
            </li>
        </ng-template>      
        <li [ngClass]="{active : activeTab == 'property', disabled: !isPropertyAuthorized() }">
            <a href (click)="selectTab('property')">
                Property
            </a>
        </li>
    </ul>
    
    <!--Tabs content-->
    <div class="tab-content">
        <div [ngClass]="{vbox : activeTab == 'cls'}" [hidden]="activeTab != 'cls'">
            <div class="vbox">
                <class-individual-tree-panel (classSelected)="onNodeSelected($event)" (instanceSelected)="onNodeSelected($event)"
                    [readonly]="readonly">
                </class-individual-tree-panel>
            </div>
        </div>
        <ng-template [ngIf]="isProjectSKOS()">
            <div [ngClass]="{vbox : activeTab == 'concept'}" [hidden]="activeTab != 'concept'">
                <concept-tree-panel (nodeSelected)="onNodeSelected($event)" [readonly]="readonly"></concept-tree-panel>
            </div>
            <div [ngClass]="{vbox : activeTab == 'conceptScheme'}" [hidden]="activeTab != 'conceptScheme'">
                <scheme-list-panel (nodeSelected)="onNodeSelected($event)" [readonly]="readonly"></scheme-list-panel>
            </div>
            <div [ngClass]="{vbox : activeTab == 'skosCollection'}" [hidden]="activeTab != 'skosCollection'">
                <collection-tree-panel (nodeSelected)="onNodeSelected($event)" [readonly]="readonly"></collection-tree-panel>
            </div>
        </ng-template>
        <div [ngClass]="{vbox : activeTab == 'property'}" [hidden]="activeTab != 'property'">
            <property-tree-panel (nodeSelected)="onNodeSelected($event)" [readonly]="readonly"></property-tree-panel>
        </div>
    </div>
    
</div>