<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label *ngIf="ontoType == 'SKOS' || ontoType == 'SKOS-XL'" style="flex: 1;">Concepts which have a label without language</label>
        <label *ngIf="ontoType == 'OWL'" style="flex: 1;">Resources which have a label without language</label>
        <button class="btn btn-xs btn-default" (click)="runIcv()">Run</button>
    </div>
    <div class="panel-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i *ngIf="ontoType == 'SKOS'">
                skos:Concept(s) or skos:ConceptScheme(s) that have a skos:prefLabel or skos:altLabel or skos:hiddenLabel without language
            </i>
            <i *ngIf="ontoType == 'SKOS-XL'">
                skos:Concept(s) or skos:ConceptScheme(s) that have a skosxl:prefLabel or skosxl:altLabel or skosxl:hiddenLabel without language
            </i>
            <i *ngIf="ontoType == 'OWL'">
                Classes or instances that have a rdfs:label without language
            </i>
        </div>

        <div *ngIf="!brokenRecordList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        <div *ngIf="brokenRecordList" class="scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Resource</th>
                        <th class="text-center">Lexicalization prop.</th>
                        <th class="text-center">Label</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of brokenRecordList">
                        <td>
                            <rdf-resource [resource]="record.resource"></rdf-resource>
                        </td>
                        <td>
                            <rdf-resource [resource]="record.predicate"></rdf-resource>
                        </td>
                        <td>
                            <rdf-resource [resource]="record.label"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-default" (click)="setLanguage(record)">Set language</button>
                            <button class="btn btn-xs btn-default" (click)="removeLabel(record)">Remove label</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>