<div class="vbox">
    
    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Export data:</label>
        </div>
       
        <div class="panel-body vbox">

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-1">Export Format:</label>
                    <div class="col-sm-11">
                        <select class="form-control input-sm" [(ngModel)]="selectedExportFormat" name="format">
                            <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
                        </select>
                    </div>
                </div>
            </form>


            <div class="subPanel vbox">
                <div class="subPanel-heading">
                    <label style="flex: 1">
                        Graphs to export
                    </label>
                    <span *ngIf="areAllGraphDeselected()" class="greyText">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        If no graph is selected, all named graphs will be exported
                    </span>
                </div>
                <div class="subPanel-body scrollableContainer">
                    <div *ngFor="let g of exportGraphs" class="listItem" style="align-items: center">
                        <input type="checkbox" [(ngModel)]="g.checked" (ngModelChange)="onGraphSelectionChange(g)">
                        <span style="margin-left: 5px;">{{g.graph.getURI()}}</span>
                    </div>
                </div>
            </div>


            <div class="subPanel vbox" style="flex: 2">
                <div class="subPanel-heading">
                    <label style="flex: 1">Export filters:</label>
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-default" style="padding: 1px 5px;" title="Add filter" (click)="appendFilter()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" style="padding: 1px 5px;" title="Remove filter" (click)="removeFilter()"
                            [disabled]="filtersChain.length == 0 || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button class="btn btn-default" style="padding: 1px 5px;" title="Move down"  (click)="moveFilterDown()"
                            [disabled]="isSelectedFilterLast() || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button class="btn btn-default" style="padding: 1px 5px;" title="Move up" (click)="moveFilterUp()"
                            [disabled]="isSelectedFilterFirst() || !selectedFilterChainElement">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
                <div class="subPanel-body scrollableContainer">
                    <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom: 5px;">
                        Here it is possible to create and configure a sequence of filters to be applied during the export process.
                        Each filter is applied to a subset of the exported graphs. No graph means every exported graph.
                        <button class="close" data-dismiss="alert"><span>&times;</span></button>
                    </div>
                    <table class="table table-condensed table-hoverable">
                        <colgroup>
                            <col style="width: 5%">
                            <col>
                            <col style="width: 2%">
                        </colgroup>
                        <tbody>
                            <tr *ngFor="let filterChainEl of filtersChain; let l = last; let f = first; let idx = index" 
                                [ngClass]="{active: filterChainEl == selectedFilterChainElement}" (click)="selectFilterChainElement(filterChainEl)">
                                <td class="text-center" style="font-size: 11px; font-weight: 700;">{{idx+1}}</td>
                                <td>
                                    <select class="form-control input-sm" [(ngModel)]="filterChainEl.selectedPlugin" (ngModelChange)="onChangePlugin(filterChainEl)">
                                        <option *ngFor="let p of filterChainEl.availablePlugins" [ngValue]="p">{{getFactoryIdShortName(p.plugin.factoryID)}}</option>
                                    </select>
                                    <div class="input-group" style="margin-top: 3px;">
                                        <select class="form-control input-sm" [(ngModel)]="filterChainEl.selectedPlugin.selectedConfiguration">
                                            <option *ngFor="let cfg of filterChainEl.selectedPlugin.configurations" [ngValue]="cfg">{{cfg.shortName}}</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-sm" (click)="configureFilter(filterChainEl)">Configure</button>
                                            <button class="btn btn-default btn-sm" (click)="configureGraphs(filterChainEl)">Graphs</button>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-center" style="font-size: 14px; font-weight: 700;">
                                    <span *ngIf="requireConfiguration(filterChainEl)" class="glyphicon glyphicon-warning-sign"
                                        title="This filter need to be configured"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
        <div class="panel-footer">
            <div class="pull-right">
                <div class="checkbox" style="display: inline-block; margin-right: 20px;">
                    <label><input type="checkbox" [(ngModel)]="includeInferred">Include inferred</label>
                </div>
                <button type="submit" class="btn btn-default btn-sm" (click)="export()">Submit</button>
            </div>
            <span class="clearfix"></span> <!--To fix UI bug-->
        </div>
    </div>
    
</div>