<div class="modal-header">
    <h3 class="modal-title text-info">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-info" *ngIf="context.message">
        {{context.message}}
    </div>
        
    <div class="scrollableContainer" style="border: 1px solid #ddd; margin-top: 5px; max-height: 60vh;">
        <div *ngFor="let r of context.resourceList">
            <rdf-resource [resource]="r" class="listItem" (click)="onResourceSelected(r)" 
                [ngClass]="{selectedResource : isResourceSelected(r)}">
            </rdf-resource>
        </div>
    </div>
        
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!resourceSelected">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>