<div class="vbox">

    <div class="panel panel-default vbox">

        <div class="panel-body hbox">

            <div class="panel panel-default vbox">
                <div class="panel-heading">
                    <label style="flex: 1;">Roles:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" (click)="createRole()" title="Create role" [disabled]="!isProjectOpen()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" (click)="deleteRole()" title="Delete role"
                             [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button class="btn btn-default" (click)="importRole()" title="Import role" [disabled]="!isProjectOpen()">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>
                        <button class="btn btn-default" (click)="exportRole()" title="Export role" [disabled]="!selectedRole">
                            <span class="glyphicon glyphicon-save"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <div *ngFor="let r of roleList" class="listItem" (click)="selectRole(r)"
                            [ngClass]="{active: r == selectedRole, greyText: r.getLevel() == 'system'}">
                            <span>{{r.getName()}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default vbox" style="margin-left: 5px;">
                <div class="panel-heading">
                    <label style="flex: 1;">Role capabilities:</label>
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-default" (click)="addCapability()" title="Add capability"
                            [disabled]="!selectedRole || selectedRole.getLevel() == 'system'">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default" (click)="removeCapability()" title="Remove capability"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button class="btn btn-default" (click)="editCapability()" title="Edit capability"
                            [disabled]="!selectedCapability || (selectedRole && selectedRole.getLevel() == 'system')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-template [ngIf]="selectedRole">
                            <div *ngFor="let c of capabilityList" class="listItem"
                                [ngClass]="{active: c == selectedCapability, greyText: (selectedRole && selectedRole.getLevel() == 'system')}"
                                (click)="selectCapability(c)">
                                {{c}}
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>