<div class="hbox">
    <div class="subPanel vbox">
        <div class="subPanel-heading">
            <label style="flex: 1;">Languages:</label>
            <span *ngIf="noLangActive" class="greyText" style="margin-right: 5px;">
                <span class="glyphicon glyphicon-warning-sign"></span> No language selected implicitly means all languages
            </span>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-default" (click)="changeAllLangStatus(true)" title="Check all">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <button class="btn btn-default" (click)="changeAllLangStatus(false)" title="Uncheck all">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
            </div>
        </div>
        <div class="subPanel-body scrollableContainer">
                        
            <table class="table table-condensed table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <col style="width: 1%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center" style="padding: 0px 8px;">Active</th>
                        <th class="text-center" style="padding: 0px 8px;" nowrap>ISO code</th>
                        <th class="text-center" style="padding: 0px 8px;">Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of languageItems">
                        <td class="text-center">
                            <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="updateSettings()"
                                [disabled]="!project">
                        </td>
                        <td class="text-center" nowrap>{{l.lang.tag}}</td>
                        <td class="text-center">
                            <lang-item [language]="l.lang"></lang-item>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>