<div class="modal-header">
    <h3 class="modal-title">Project ACL</h3>
</div>
<div class="modal-body vbox" style="max-height:70vh;">
    <div class="scrollableContainer" style="border: 1px solid #ddd">

        <table class="table table-bordered table-condensed" style="flex: 1">
            <thead>
                <tr>
                    <th class="firstCol">
                        <div style="text-align: right;">Consumer <span class="glyphicon glyphicon-chevron-right"></span></div>
                        <div style="text-align: left;"><span class="glyphicon glyphicon-chevron-down"></span> Project</div>
                    </th>
                    <th *ngFor="let cons of consumerList" class="text-center fixedCol" colspan="2" [title]="cons">{{cons}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-map [ngForOf]="tableModel">
                    <tr>
                        <td style="font-weight: bold; vertical-align: middle" class="firstCol" rowspan="2">
                            <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{map.project}}</span>
                            <button class="btn btn-default btn-xs pull-right" title="Edit project ACL" (click)="editProjectACL(map.project)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                        <ng-template ngFor let-acl [ngForOf]="map.consumerACLs">
                            <td [class]="getCellClass(map.project, acl.consumer)"
                                 [title]="getTitleAvailableAccessLevel(map.project, acl.consumer, acl.availableAccessLevel)">
                                {{ acl.availableAccessLevel }}
                            </td>
                            <td [class]="getCellClass(map.project, acl.consumer, true)"
                                [title]="getTitleAcquiredAccessLevel(map.project, acl.consumer, acl.acquiredAccessLevel)">
                                {{ acl.acquiredAccessLevel }}
                            </td>
                        </ng-template>
                    </tr>
                    <tr>
                        <ng-template ngFor let-acl [ngForOf]="map.consumerACLs">
                            <td [class]="getCellClass(map.project, acl.consumer)"
                                [title]="getTitleAvailableLock(map.project, acl.availableLockLevel)">
                                {{ acl.availableLockLevel }}
                            </td>
                            <td [class]="getCellClass(map.project, acl.consumer, false, true)"
                                [title]="getTitleAcquiredLock(map.project, acl.consumer, acl.acquiredLockLevel)">
                                {{ acl.acquiredLockLevel }}
                            </td>
                        </ng-template>
                    </tr>
                </ng-template>
            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>