<div class="treeNode" #treeNodeElement>
	<div class="expandCollapseBtnContainer">
		<img *ngIf="node.getAdditionalProperty('more')==1 && !open"
            src="../../../../assets/images/icons/arrow.png" class="arrow-right" (click)="expandNode()">
        <img *ngIf="open" src="../../../../assets/images/icons/arrow.png" (click)="collapseNode()">
	</div>
    <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode()" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}"></rdf-resource>
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more') == 1">
	<property-tree-node *ngFor="let n of node.getAdditionalProperty('children')" [node]="n" [rendering]="rendering"
        (nodeSelected)="onNodeSelected($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
    </property-tree-node>
</div>