<ng-template [ngIf]="!editInProgress">
    <rdf-resource [resource]="resource" style="flex:1" (dblclick)="resourceDblClick()"></rdf-resource>
    <div class="dropdown pull-right" title="Edit">
        <button class="dropdown-toggle resViewPartitionBtn" data-toggle="dropdown" [disabled]="editMenuDisabled">
            <span>&#9662;</span>
        </button>
        <ul class="dropdown-menu">
            <li *ngIf="!isPlainLiteral" [ngClass]="{ disabled: !isEditAuthorized() }"><a (click)="edit()">Edit</a></li>
            <li *ngIf="isPlainLiteral" [ngClass]="{ disabled: !isEditAuthorized() }"><a (click)="editPlainLiteral()">Edit as literal</a></li>

            <li *ngIf="resource.isResource()" [ngClass]="{ disabled: !isEditAuthorized() }">
                <a (click)="replace()">Replace with existing resource</a>
            </li>
            <ng-template [ngIf]="isXLabelMenuItemAvailable()">
                <li [ngClass]="{ disabled: !isSpawnFromLabelAuthorized() }">
                    <a (click)="spawnNewConceptWithLabel()">Spawn new concept from this xLabel</a>
                </li>
                <li [ngClass]="{ disabled: !isSpawnFromLabelAuthorized() }">
                    <a (click)="moveLabelToConcept()">Move xLabel to another concept</a>
                </li>
            </ng-template>
            <li [ngClass]="{ disabled: !isDeleteAuthorized() }"><a (click)="delete()">Delete</a></li>
        </ul>
    </div>
</ng-template>

<ng-template [ngIf]="editInProgress">
    <div class="input-group input-group-xs">
        <input type="text" class="form-control" [(ngModel)]="resourceStringValue">
        <div class="input-group-btn">
            <button class="btn btn-default" style="width:15px; padding: 0px;" (click)="confirmEdit()" placeholder="Confirm">
                <span class="glyphicon glyphicon-ok" style="color: green"></span>
            </button>
            <button class="btn btn-default" style="width:15px; padding: 0px;" (click)="cancelEdit()" placeholder="Cancel">
                <span class="glyphicon glyphicon-remove" style="color: red"></span>
            </button>
        </div>
    </div>
</ng-template>


