<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">  
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <button class="btn btn-default" title="Create topConcept" (click)="createRoot()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/concept_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Add narrower" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../../assets/images/icons/actions/concept_addNarrower.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Delete Concept" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../../assets/images/icons/actions/concept_delete.png" class="panelButtonImg"/>
            </button>
        </div>
        <div *ngIf="editable" style="margin: 0px 5px;">
            <img *ngIf="isNoSchemeMode()" src="../../../../../assets/images/icons/warning.png"
                title="No skos:ConceptScheme selected, creation operation are disabled">
        </div>
        <div style="flex: 1"></div>
        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">

        <div *ngIf="schemeChangeable" style="padding-bottom: 3px; display: flex; align-items: center">
            <span style="white-space: nowrap; margin: 0px 3px;">Concept Scheme:</span>
            <select class="form-control input-xs" [(ngModel)]="selectedSchemeUri" (ngModelChange)="onSchemeSelectionChange()">
                <option value="---">no-scheme</option>
                <option *ngFor="let s of schemeList" [value]="s.getURI()">{{getSchemeRendering(s)}}</option>
            </select>
        </div>

        <concept-tree [schemes]="workingSchemes" [rendering]="rendering"
            (nodeSelected)="onNodeSelected($event)" (conceptRemovedFromScheme)="onConceptRemovedFromScheme($event)">
        </concept-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)" [roles]="[panelRole]"></search-bar>
    </div>
    
</div>