<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label style="flex: 1;">Top concepts with broader</label>
        <button class="btn btn-xs btn-default" (click)="runIcv()">Run</button>
    </div>
    <div class="panel-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>
                skos:Concept(s) that have redundant hierarchical relations. e.g.<br/>
                1) c_3 skos:broader c_2<br/>2) c_2 skos:broader c_1<br/>3) c_3 skos:broader c_1<br/>
                3rd relation is redundant since it is a consequence of 1) and 2) 
            </i>
        </div>

        <div *ngIf="!brokenRecordList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        
        <div *ngIf="brokenRecordList" class="scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Broader</th>
                        <th class="text-center">Narrower</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of brokenRecordList">
                        <td>
                            <rdf-resource [resource]="record.broader"></rdf-resource>
                        </td>
                        <td>
                            <rdf-resource [resource]="record.narrower"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-default" (click)="fix(record)">Remove redundancy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div  class="dropup pull-right">
            <button *ngIf="brokenRecordList && !brokenRecordList.length == 0" class="btn btn-default btn-xs" type="button"
                (click)="quickFix()">
                Remove all redundancy
            </button>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>