<div class="scrollableContainer" style="border: 1px solid #ddd;">
    <div *ngFor="let r of resources">
        <rdf-resource [resource]="r" class="listItem" [ngClass]="{selectedResource : r == resourceSelected}"
            (click)="onResourceSelected(r)">
        </rdf-resource>
    </div>
</div>