<div class="treeNode" #treeNodeElement>
	<div class="expandCollapseBtnContainer">
		<img *ngIf="node.getAdditionalProperty('more')==1 && !open"
            src="../../../../assets/images/icons/arrow.png" (click)="expandNode()" class="arrow-right">
        <img *ngIf="open" src="../../../../assets/images/icons/arrow.png" (click)="collapseNode()">
	</div>
	<rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode()" 
        [ngClass]="{selectedResource : node.getAdditionalProperty('selected')}"></rdf-resource>
    <div *ngIf="node.getAdditionalProperty('numInst') > 0 && showInstNumber()" style="position: absolute; margin: 4px; top: 0; right: 0;">
        <span class="label label-warning">{{node.getAdditionalProperty('numInst')}}</span>
    </div>
</div>

<div class="subTree" *ngIf="node.getAdditionalProperty('more')==1">
    <class-tree-node *ngFor="let n of node.getAdditionalProperty('children')" [node]="n" [rendering]="rendering" 
        (nodeSelected)="onNodeSelected($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
    </class-tree-node>
</div>