<config-bar></config-bar>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/Home']">VocBench</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li *ngIf="isUserLogged() && isUserAdmin()" routerLinkActive="active">
                    <a [routerLink]="['/Projects']">Projects</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen()" [ngClass]="{ disabled : !isDataAuthorized() }" routerLinkActive="active">
                    <a [routerLink]="['/Data']">Data</a>
                </li>
				<li *ngIf="isUserLogged() && isProjectOpen()" [ngClass]="{ disabled : !isSparqlAuthorized() }" routerLinkActive="active">
                    <a [routerLink]="['/Sparql']">SPARQL</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen() && isProjectHistoryEnabled()" [ngClass]="{ disabled : !isHistoryAuthorized() }"
                    routerLinkActive="active">
                    <a [routerLink]="['/History']">History</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen() && isProjectValidationEnabled()" [ngClass]="{ disabled : !isValidationAuthorized() }"
                    routerLinkActive="active">
                    <a [routerLink]="['/Validation']">Validation</a>
                </li>
                <li *ngIf="isUserLogged() && isProjectOpen()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Tools <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="font-size: 12px; line-height: 20px;">
                        <li><a [routerLink]="['/Icv']">Integrity Constraint Validator (ICV)</a></li>
                        <li *ngIf="isAlignValidationAuthorized()"><a [routerLink]="['/AlignmentValidation']">Alignment Validation</a></li>
                        <li *ngIf="isCustomFormAuthorized()"><a [routerLink]="['/CustomForm']">Custom Form configuration</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- See userMenuComponent to understand user-menu attribute (to avoid css style breaking) -->
                <li user-menu *ngIf="isUserLogged()" class="dropdown">
            </ul>
        </div>    
    </div>
</nav>
<div class="vbox" style="padding: 10px;">
    <router-outlet></router-outlet>
</div>
<div class="bottom-bar text-right">
    © <a href="http://art.uniroma2.it/" target="_blank">ART Group</a>, 2016
</div>