<div>
    <select class="form-control input-sm" [(ngModel)]="datatype" (ngModelChange)="onDatatypeChange()">
        <ng-template ngFor let-dt [ngForOf]="datatypeList">
            <option *ngIf="isDatatypeAllowed(dt)" [ngValue]="dt" [title]="dt.getURI()">{{dt.getShow()}}</option>
        </ng-template>
    </select>
    <!--input dedicated to some datatypes-->
    <ng-template [ngIf]="isDatatypeBound()">
        <div class="panel panel-default" style="margin-top: 6px;">
            <div class="panel-body">
                <div *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#boolean'" class="text-center">
                    <label class="radio-inline">
                        <input type="radio" (click)="value='true'; onValueChanged()" [checked]="value=='true'">true
                    </label>
                    <label class="radio-inline" style="margin-left: 20px;">
                        <input type="radio" (click)="value='false'; onValueChanged()" [checked]="value=='false'">false
                    </label>
                </div>
                <div *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#date'">
                    <input class="form-control input-sm" type="date" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
                </div>
                <div *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#dateTime'">
                    <input class="form-control input-sm" type="datetime-local" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
                </div>
                <div *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#time'">
                    <input class="form-control input-sm" type="time" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
                </div>
            </div>
            <!--Result (not-editable) of the above input-->
        </div>
        <input type="text" class="form-control input-sm" style="margin-top: 6px;" 
            [(ngModel)]="value" (ngModelChange)="onValueChanged()" disabled>
    </ng-template>
    
    <!--input for other datatypes-->
    <input *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#float'" type="number" step="any"
        class="form-control input-sm" style="margin-top: 6px;" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
    <input *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#integer'" type="number" step="1"
        class="form-control input-sm" style="margin-top: 6px;" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
    <input *ngIf="datatype.getURI()=='http://www.w3.org/2001/XMLSchema#string'" type="text" class="form-control input-sm" 
        style="margin-top: 6px;" [(ngModel)]="value" (ngModelChange)="onValueChanged()">
        
</div>