<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <div class="btn-group btn-group-xs" role="group">
                <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" title="Create Property" [disabled]="isCreateDisabled()">
                    <img src="../../../../assets/images/icons/actions/prop_create.png" class="panelButtonImg"/>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="createRoot('property')">
                            <img src="../../../../assets/images/icons/res/prop.png"/>rdf:Property
                        </a>
                    </li>
                    <li>
                        <a (click)="createRoot('objectProperty')">
                            <img src="../../../../assets/images/icons/res/propObject.png"/>owl:ObjectProperty
                        </a>
                    </li>
                    <li>
                        <a (click)="createRoot('datatypeProperty')">
                            <img src="../../../../assets/images/icons/res/propDatatype.png"/>owl:DatatypeProperty
                        </a>
                    </li>
                    <li>
                        <a (click)="createRoot('annotationProperty')">
                            <img src="../../../../assets/images/icons/res/propAnnotation.png"/>owl:AnnotationProperty
                        </a>
                    </li>
                    <li>
                        <a (click)="createRoot('ontologyProperty')">
                            <img src="../../../../assets/images/icons/res/propOntology.png"/>owl:OntologyProperty
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-default" title="Create SubProperty" (click)="createChild()" [disabled]="isCreateChildDisabled()">
                <img src="../../../../assets/images/icons/actions/prop_addSubProperty.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Delete Property" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../assets/images/icons/actions/prop_delete.png" class="panelButtonImg"/>
            </button>
        </div>

        <div style="flex: 1"></div>

        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>

    </div>
    
    <!-- Tree -->
    <div class="panel-body vbox">
        <property-tree [rendering]="rendering" [type]="type" [resource]="resource" [roots]="rootProperties"
            (nodeSelected)="onNodeSelected($event)">
        </property-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>
    
</div>