<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label style="flex: 1;">ConceptScheme without topConcept</label>
        <button class="btn btn-xs btn-default" (click)="runIcv()">Run</button>
    </div>
    <div class="panel-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>skos:ConceptScheme(s) that don't have a topConcept or simply empty.</i>
        </div>

        <div *ngIf="!brokenSchemeList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        <div *ngIf="brokenSchemeList" class="scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">ConceptScheme</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scheme of brokenSchemeList">
                        <td>
                            <rdf-resource [resource]="scheme"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-default" (click)="selectTopConcept(scheme)">Select top concept</button>
                            <button class="btn btn-xs btn-default" (click)="createTopConcept(scheme)">Create top concept</button>
                            <button class="btn btn-xs btn-default" (click)="deleteScheme(scheme)">Delete scheme</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div  class="dropup pull-right">
            <button *ngIf="brokenSchemeList && !brokenSchemeList.length == 0" class="btn btn-default btn-xs" type="button"
                (click)="deleteAllScheme()">
                Delete all scheme
            </button>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>