<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="height:70vh;">

    <div style="margin-bottom: 4px;">
        <label>Property:</label>
        <rdf-resource [resource]="selectedProperty"></rdf-resource>
        <button *ngIf="context.propChangeable" class="btn btn-default btn-xs" title="Change property" (click)="changeProperty()">Change</button>

        <div *ngIf="showAspectSelector" class="btn-group btn-group-xs pull-right">
            <button *ngFor="let selector of aspectSelectors" class="btn btn-default" [ngClass]="{active: selectedAspectSelector == selector}"
                (click)="selectedAspectSelector = selector">{{selector}}</button>
        </div>
    </div>

    <!--Alternative views-->
    <div *ngIf="selectedAspectSelector == treeListAspectSelector" class="vbox">
        <class-tree-panel *ngIf="viewType == 'classTree'" (nodeSelected)="onResourceSelected($event)" [roots]="rootsForClsTree"
            [editable]="false"></class-tree-panel>

        <concept-tree-panel *ngIf="viewType == 'conceptTree'" [editable]="false" [schemeChangeable]="true" [schemes]="schemes"
            (nodeSelected)="onResourceSelected($event)" >
        </concept-tree-panel>
        
        <property-tree-panel *ngIf="viewType == 'propertyTree'" [editable]="false" [type]="propertyType"
            (nodeSelected)="onResourceSelected($event)">
        </property-tree-panel>
        
        <scheme-list *ngIf="viewType == 'schemeList'" (nodeSelected)="onResourceSelected($event)"></scheme-list>
        
        <resource-list *ngIf="viewType == 'resourceList'" [resources]="datatypes" (nodeSelected)="onResourceSelected($event)"></resource-list>
        
        <class-individual-tree *ngIf="viewType == 'classAndIndividual'" [roots]="rootsForClsIndList" (nodeSelected)="onResourceSelected($event)">
        </class-individual-tree>
    </div>

    <input *ngIf="selectedAspectSelector == manchExprAspectSelector" type="text" class="form-control input-sm" style="margin-top: 5px;"
        [(ngModel)]="manchExpr" placeholder="Manchester expression">

    <data-range-editor *ngIf="selectedAspectSelector == dataRangeAspectSelector" (datarangeChange)="onDatarangeChanged($event)">
    </data-range-editor>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>