<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body vbox" style="height:70vh;">
    <div style="display: flex; align-items: center; margin-bottom: 5px;">
        Show all classes
        <input type="checkbox" style="margin-left: 3px;" [checked]="allClasses" 
            (change)="onCheckboxChange($event.target.checked)" [disabled]="!context.rangeClasses || context.rangeClasses.length == 0">
    </div>
    <class-individual-tree [roots]="treeRoots" (nodeSelected)="onInstanceSelected($event)">
    </class-individual-tree>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!selectedInstance">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>