<div class="modal-header">
    <h3 [class]="headerStyle">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div [class]="msgStyle">
        {{context.message}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>