<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label *ngIf="ontoType == 'SKOS'" style="flex: 1;">Only skos:altLabel resources</label>
        <label *ngIf="ontoType == 'SKOS-XL'" style="flex: 1;">Only skosxl:altLabel resources</label>
        <button class="btn btn-xs btn-default" (click)="runIcv()">Run</button>
    </div>
    <div class="panel-body vbox">
        
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i *ngIf="ontoType == 'SKOS'">
                skos:Concept(s) or skos:ConceptScheme(s) that have a skos:altLabel but don't have a skos:prefLabel in the same language.
            </i>
            <i *ngIf="ontoType == 'SKOS-XL'">
                skos:Concept(s) or skos:ConceptScheme(s) that have a skosxl:altLabel but don't have a skosxl:prefLabel in the same language.
            </i>
        </div>

        <div *ngIf="!brokenRecordList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        <div *ngIf="brokenRecordList" class="scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Resource</th>
                        <th class="text-center">Language</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of brokenRecordList">
                        <td>
                            <rdf-resource [resource]="record.resource"></rdf-resource>
                        </td>
                        <td class="text-center">
                            <rdf-resource [resource]="record.lang"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-default" (click)="setAltAsPrefLabel(record)">
                                <span *ngIf="ontoType == 'SKOS-XL'">Set skosxl:altLabel as skosxl:prefLabel</span>
                                <span *ngIf="ontoType == 'SKOS'">Set skos:altLabel as skos:prefLabel</span>
                            </button>
                            <button class="btn btn-xs btn-default" (click)="addPrefLabel(record)">
                                <span *ngIf="ontoType == 'SKOS-XL'">Add skosxl:prefLabel</span>
                                <span *ngIf="ontoType == 'SKOS'">Add skos:prefLabel</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>