<div class="panel panel-default vbox" style="position: relative">
    <div class="panel-heading">
        <label style="flex: 1;">{{title}}</label>
        <button class="btn btn-xs btn-default" (click)="runIcv()">Run</button>
    </div>
    <div class="panel-body vbox">
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            <i>{{message}}</i>
        </div>

        <div *ngIf="!brokenResourceList" style="padding: 4px;">
            Press <strong>Run</strong> button to run the check.
        </div>
        <div *ngIf="brokenResourceList" class="scrollableContainer">
            <table class="table table-condensed table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">Resource</th>
                        <th class="text-center" style="width: 1%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resource of brokenResourceList">
                        <td>
                            <rdf-resource [resource]="resource"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-default" (click)="fix(resource)">
                                <span>{{actionLabel}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>