<div class="groupPanel">
    
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="../../../../assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{label}}:</label>
        </span>
        <div class="groupPanel-heading-content dropdown pull-right">
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" [title]="addBtnImgTitle" [disabled]="isAddDisabled()">
                <img [src]="addBtnImgSrc" style="height: 16px"/>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="addFirst()">Add first</a></li>
                <li><a (click)="addLast()">Add last</a></li>
                <li [ngClass]="{disabled : !selectedMember}"><a (click)="addBefore()">Add before the selected member</a></li>
                <li [ngClass]="{disabled : !selectedMember}"><a (click)="addAfter()">Add after the selected member</a></li>
            </ul>
        </div>
    </div>

    <div class="groupPanel-body">
        <ng-template [ngIf]="!partitionCollapsed">
            <div class="subPanel" *ngFor="let po of predicateObjectList">
                <div class="subPanel-heading">
                    <label>{{po.getPredicate().getShow()}}</label>
                </div>
                <div class="subPanel-body">
                    <ng-template ngFor let-obj [ngForOf]="po.getObjects()">
                        <!-- Member list -->
                        <div class="listItem">
                            
                            <editable-resource *ngIf="!renderAsReified(po.getPredicate(), obj)" style="flex: 1"
                                [resource]="obj" [subject]="resource" [predicate]="po.getPredicate()" [readonly]="readonly"
                                [partition]="partition" (dblClick)="objectDblClick($event)" (update)="onObjectUpdate()"
                                (delete)="removePredicateObject(po.getPredicate(), obj)">
                            </editable-resource>
                            <ng-template [ngIf]="renderAsReified(po.getPredicate(), obj)">
                                <reified-resource [resource]="obj" [predicate]="po.getPredicate()"
                                    (dblClick)="objectDblClick($event)" style="flex:1"></reified-resource>
                                <button class="resViewPartitionBtn" [title]="getRemovePropImgTitle(po.getPredicate())" 
                                    (click)="removePredicateObject(po.getPredicate(), obj)" [disabled]="isRemoveReifiedObjDisabled(obj)">
                                    <span>-</span>
                                </button>
                            </ng-template>

                        </div>
                        <!-- Members -->
                        <div class="subPanel" style="margin-top: 4px">
                            <div class="subPanel-heading">
                                <label style="flex: 1">Members</label>
                                <div class="dropdown pull-right">
                                    <button class="resViewPartitionBtn dropdown-toggle" data-toggle="dropdown"
                                        title="Add member" [disabled]="isAddDisabled()">
                                        <span>+</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a (click)="addFirst(po.getPredicate())">Add first</a></li>
                                        <li><a (click)="addLast(po.getPredicate())">Add last</a></li>
                                        <li [ngClass]="{disabled : !selectedMember}"><a (click)="addBefore(po.getPredicate())">Add before the selected member</a></li>
                                        <li [ngClass]="{disabled : !selectedMember}"><a (click)="addAfter(po.getPredicate())">Add after the selected member</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="subPanel-body">
                                <div *ngFor="let memb of obj.members" class="listItem" (click)="selectMember(memb)"
                                    [ngClass]="{active: memb == selectedMember}">
                                    <editable-resource style="flex: 1" [resource]="memb" [subject]="obj" [predicate]="membersProperty"
                                        [readonly]="readonly" [partition]="partition" 
                                        (dblClick)="objectDblClick(memb)" (delete)="removeMember(memb)" (update)="onObjectUpdate()">
                                    </editable-resource>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>

</div>