<div class="groupPanel">

    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="../../../../assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{label}}:</label>
        </span>
        <span class="groupPanel-heading-content">
            <input type="image" [title]="addBtnImgTitle" [src]="addBtnImgSrc" 
                (click)="add()" [disabled]="isAddDisabled()">
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-template [ngIf]="!partitionCollapsed">
            <div style="display: flex; padding: 8px;">
                <span *ngFor="let f of facets" style="flex:1; display: inline-flex; align-items: center;">
                    <input #cb type="checkbox" style="margin: 0px 3px 0px 0px;" value="transitive" [ngModel]="f.value"
                        [disabled]="isChangeFacetDisabled(f)" (change)="changeFacet(f.name, cb.checked)">{{f.name}}
                </span>
            </div>
            <pred-obj-renderer *ngFor="let po of predicateObjectList" [pred-obj]="po" [resource]="resource" [readonly]="readonly" [partition]="partition" 
                (dblclickObj)="objectDblClick($event)" (add)="add(po.getPredicate())" (remove)="removePredicateObject(po.getPredicate(), $event)">
            </pred-obj-renderer>
        </ng-template>
    </div>
    
</div>