<div class="vbox">

    <div class="panel panel-default vbox">
        <div class="panel-heading">
            <label>Data Refactor:</label>
        </div>

        <div class="panel-body vbox scrollableContainer">
            
            <div *ngIf="skosxlToSkosEnabled()" class="subPanel">
                <div class="subPanel-heading">
                    <label style="flex: 1">SKOS &#8594; SKOS-XL</label>
                </div>
                <div class="subPanel-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This refactor operation transforms all the SKOS labels and notes into reified SKOS-XL labels and notes.
                        Note: this is <strong>not</strong> a loss-less operation,
                        all the information related to the SKOS labels and notes will be lost.
                    </div>
                </div>
                <div class="subPanel-footer hbox" style="align-items: center; justify-content: flex-end">
                    <div class="checkbox" style="margin: 0px 10px; display: inline-block">
                        <label><input type="checkbox" [(ngModel)]="reifyNotes">Reify SKOS notes</label>
                    </div>
                    <button class="btn btn-sm btn-default pull-right" (click)="skosToSkosxl()" [disabled]="!isSkosToSkosxlAuthorized()">Refactor</button>
                    <span class="clearfix"></span>
                </div>
            </div>

            <div *ngIf="skosToSkosxlEnabled()" class="subPanel">
                <div class="subPanel-heading">
                    <label style="flex: 1">SKOS-XL &#8594; SKOS</label>
                </div>
                <div class="subPanel-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This refactor operation transforms all the reified SKOS-XL labels and notes into flattened SKOS labels and notes.
                        Note: this is <strong>not</strong> a loss-less operation, all the information related to the SKOS-XL labels and notes will be lost.
                    </div>
                </div>
                <div class="subPanel-footer">
                    <button class="btn btn-sm btn-default pull-right" (click)="skosxlToSkos()" [disabled]="!isSkoxlToSkosAuthorized()">Refactor</button>
                    <span class="clearfix"></span>
                </div>
            </div>

            <div class="subPanel">
                <div class="subPanel-heading">
                    <label style="flex: 1">Migrate data to baseURI graph</label>
                </div>
                <div class="subPanel-body">
                    <div class="alert alert-info" style="margin-bottom: 5px; font-size: 12px;">
                        This operation will move the content of the default graph to a graph named after the base URI of the current project.
                        It will also clear the default graph and preserve the information already contained in the destination graph.
                    </div>
                </div>
                <div class="subPanel-footer">
                    <button class="btn btn-sm btn-default pull-right" (click)="migrateData()" [disabled]="!isMigrateAuthorized()">Migrate</button>
                    <span class="clearfix"></span>
                </div>
            </div>

        </div>

    </div>

</div>