<div class="panel panel-default vbox">
    <div class="panel-heading">
        <label style="flex: 1">Commits</label>

        <label style="white-space: pre">Operation sort: </label>
        <div class="btn-group btn-group-xs" style="margin-right: 8px;" role="group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span>{{operationSorting}}</span>
                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngFor="let sd of sortingDirectionList" style="position: relative;">
                    <a (click)="sortOperation(sd)" style="margin-right: 18px;">{{sd}}</a>
                    <span *ngIf="sd == operationSorting" class="glyphicon glyphicon-ok pull-right"
                        style="position: absolute; right: 4px;"></span>
                </li>
            </ul>
        </div>

        <label style="white-space: pre">Time sort: </label>
        <div class="btn-group btn-group-xs" style="margin-right: 8px;" role="group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span>{{timeSorting}}</span>
                <span class="glyphicon glyphicon-sort-by-order"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li *ngFor="let sd of sortingDirectionList" style="position: relative;">
                    <a (click)="sortTime(sd)" style="margin-right: 18px;">{{sd}}</a>
                    <span *ngIf="sd == timeSorting" class="glyphicon glyphicon-ok pull-right"
                        style="position: absolute; right: 4px;"></span>
                </li>
            </ul>
        </div>

        <button class="btn btn-xs btn-default" [ngClass]="{active: showFilterBox}" (click)="showFilterBox = !showFilterBox">
            <span *ngIf="!showFilterBox">Show filters</span>
            <span *ngIf="showFilterBox">Hide filters</span>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
    </div>
    
    <div class="panel-body vbox">

        <history-filter *ngIf="showFilterBox" class="vbox" style="margin-bottom: 6px" (apply)="onFilterApplied($event)"
            [operations]="operations" [fromTime]="fromTime" [toTime]="toTime"></history-filter>

        <div class="scrollableContainer" style="flex: 3;">

            <table class="table table-condensed table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <!--<col>
                    <col>
                    <col>
                    <col>-->
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">Commit</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">1st Param</th>
                        <th class="text-center" *ngIf="isLargeWidth()">2nd Param</th>
                        <th class="text-center">Other param(s)</th>
                        <th class="text-center">User</th>
                        <th class="text-center">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of commits">
                        <td class="text-center" nowrap>
                            <a (click)="getCommitDelta(item)" style="cursor: pointer;">{{item.commit.getURI()}}</a>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.operation" [title]="item.operation.getURI()">
                                {{item.operation.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            <ng-template [ngIf]="item.operationParameters.length != 0">
                                <label style="white-space: pre;">{{item.operationParameters[0].name}}: </label>{{item.operationParameters[0].value}}
                            </ng-template>
                        </td>
                        <td class="text-center" *ngIf="isLargeWidth()">
                            <ng-template [ngIf]="item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>{{item.operationParameters[1].value}}
                            </ng-template>
                        </td>
                        <td class="text-center">
                            <ng-template [ngIf]="!isLargeWidth() && item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>{{item.operationParameters[1].value}}
                            </ng-template>
                            <ng-template [ngIf]="isLargeWidth() && item.operationParameters.length > 2">
                                <label style="white-space: pre;">{{item.operationParameters[2].name}}: </label>{{item.operationParameters[2].value}}
                            </ng-template>
                            <button *ngIf="showOtherParamButton(item)" class="btn btn-xs btn-default" (click)="inspectParams(item)"
                                title="Show all parameters">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.user" [title]="item.user.getURI()">
                                {{item.user.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            {{item.endTimeLocal}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    
    </div>

    <div class="panel-footer">
        <div class="btn-group btn-group-xs pull-right" role="group">
            <button class="btn btn-default" title="Previous" (click)="getPreviousCommits()" [disabled]="page <= 0">
                <span class="glyphicon glyphicon-triangle-left"></span>
            </button>
            <button class="btn btn-default" style="cursor: auto" disabled>
                <span>{{page+1}} of {{pageCount}}</span>
            </button>
            <button class="btn btn-default" title="Next" (click)="getNextCommits()" [disabled]="page+1 >= pageCount">
                <span class="glyphicon glyphicon-triangle-right"></span>
            </button>
        </div>
    </div>

</div>