<div class="modal-header">
    <h3 [class]="headerStyle">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div [class]="msgStyle">
        {{context.message}}
    </div>
    <div class="hbox" style="align-items: center; padding: 10px 8px 0px;">
        <input type="checkbox" [(ngModel)]="check">
        <span style="margin-left: 3px;">{{context.checkboxLabel}}</span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">{{context.yesText}}</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">{{context.noText}}</button>
</div>