<div class="vbox">

    <div class="btn-group pull-right" style="margin-bottom: 5px">
        <button *ngIf="isAdmin()" class="btn btn-default" [routerLink]="['/Administration/Users']" routerLinkActive="active">Users</button>
        <button class="btn btn-default" [routerLink]="['/Administration/Projects']" routerLinkActive="active"
            [disabled]="!isProjManagementAuthorized()">Projects</button>
        <button class="btn btn-default" [routerLink]="['/Administration/Roles']" routerLinkActive="active" 
            [disabled]="!isRoleManagementAuthorized()">Roles</button>
        <button *ngIf="isAdmin()" class="btn btn-default" [routerLink]="['/Administration/Configuration']" routerLinkActive="active">Configuration</button>
    </div>
    <router-outlet></router-outlet>

</div>