<div class="vbox">

    <div class="panel panel-default">

        <div class="panel-heading">
            <label><span class="glyphicon glyphicon-user"></span> User details</label>
        </div>

        <div class="panel-body">
            <table class="table table-condensed table-borderless">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 40%;">
                </colgroup>
                <tbody>
                    <tr>
                        <td nowrap><label>Given name:</label></td>
                        <td><input-editable [value]="user.getGivenName()" (valueEdited)="updateGivenName($event)"></input-editable></td>
                        <td nowrap><label>Family name:</label></td>
                        <td><input-editable [value]="user.getFamilyName()" (valueEdited)="updateFamilyName($event)"></input-editable></td>
                    </tr>
                    <tr>
                        <td nowrap><label>E-mail:</label></td>
                        <td><input-editable type="email" [value]="user.getEmail()" (valueEdited)="updateEmail($event)"></input-editable></td>
                        <td nowrap><label>Phone:</label></td>
                        <td><input-editable [value]="user.getPhone()" (valueEdited)="updatePhone($event)"></input-editable></td>
                    </tr>
                    <tr>
                        <td nowrap><label>Birthday:</label></td>
                        <td>
                            <input-editable type="date" [value]="user.getBirthday()" (valueEdited)="updateBirthday($event)" placeholder="yyyy-MM-dd">
                            </input-editable>
                        </td>
                        <td nowrap><label>Gender:</label></td>
                        <td><input-editable [value]="user.getGender()" (valueEdited)="updateGender($event)"></input-editable></td>
                    </tr>
                    <tr>
                        <td nowrap><label>Country:</label></td>
                        <td><input-editable type="select" [options]="countries" [value]="user.getCountry()" (valueEdited)="updateCountry($event)"></input-editable></td>
                        <td nowrap><label>Address:</label></td>
                        <td><input-editable [value]="user.getAddress()" (valueEdited)="updateAddress($event)"></input-editable></td>
                    </tr>
                    <tr>
                        <td nowrap><label>Affiliation:</label></td>
                        <td><input-editable [value]="user.getAffiliation()" (valueEdited)="updateAffiliation($event)"></input-editable></td>
                        <td nowrap><label>Personal Url:</label></td>
                        <td><input-editable [value]="user.getUrl()" (valueEdited)="updateUrl($event)"></input-editable></td>
                    </tr>
                    <tr>
                        <td nowrap><label>Language proficiencies:</label></td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" [ngModel]="user.getLanguageProficiencies()" name="langs" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" style="width:36px;" (click)="editLanguages()" placeholder="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <label>Registered: </label> {{user.getRegistrationDate()}}
        </div>

    </div>


</div>