<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" style="padding: 10px;" 
	(click)="onMenuOpen()" [title]="currentUser.getGivenName() + ' ' + currentUser.getFamilyName()">
	<img src="../../assets/images/logos/user.svg" style="background: #95A5BC; border-radius: 4px;" height="24" width="24">
</a>
<ul class="dropdown-menu" style="font-size: 12px;">
	<li>
		<div style="padding: 10px; white-space: nowrap;">
			<img src="../../assets/images/logos/user.svg" style="border-radius: 10px;" height="48" width="48">
			<a [routerLink]="['/Profile']">
				<span style="font-weight: bold; white-space: nowrap;">
					{{currentUser.getGivenName()}} {{currentUser.getFamilyName()}}
				</span>
			</a>
		</div>
	</li>
	<li role="separator" class="divider"></li>
	<li><a [routerLink]="['/Profile']"><span class="glyphicon glyphicon-user"></span> View profile</a></li>
	<li *ngIf="isProjectOpen()"><a [routerLink]="['/Preferences']"><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
	<li *ngIf="isAdministrationVisible()"><a [routerLink]="['/Administration']"><span class="glyphicon glyphicon-wrench"></span> Administration</a></li>
	<li role="separator" class="divider"></li>
	<li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
</ul>