<div class="modal-header">
    <div class="hbox" style="align-items: center">
        <h3 class="modal-title" style="flex: 1">{{context.title}}</h3>
        <span>
            <button class="btn btn-default btn-xs" title="Change class" (click)="changeClass()" [disabled]="!context.clsChangeable">
                <rdf-resource [resource]="resourceClass"></rdf-resource>
            </button>
        </span>
    </div>
</div>
<div class="modal-body">
    <div class="vbox" (keydown)="onKeydown($event)">

        <table class="table table-condensed table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right"><label>URI:</label></td>
                    <td>
                        <editable-ns-input [(ngModel)]="uri"  [toFocus]="true">
                        </editable-ns-input>
                    </td>
                </tr>
            </tbody>
        </table>

        <custom-form *ngIf="customFormId" [cfId]="customFormId" style="border-top:1px solid #ddd; margin-top: 5px;" 
            [(ngModel)]="formFields"></custom-form>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>