<div class="panel panel-default vbox">

    <div class="panel-body vbox">

        <div class="scrollableContainer">
            <collection-tree-node *ngFor="let r of roots" [node]="r" [rendering]="rendering" 
                (nodeSelected)="onNodeSelected($event)" (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
            </collection-tree-node>
        </div>

        <div #blockDivTree class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="../../../../../assets/images/loading.gif" />
                </div>
            </div>
        </div>
    
    </div>

</div>