<div class="panel panel-default vbox blockingDivHost">
    <div class="panel-heading">
        <div class="hbox" style="align-items: center">
            <rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource>
            <resource-rename [resource]="resource" style="margin-left: 8px; flex: 1;" [readonly]="readonly"></resource-rename>
            
            <div class="dropdown pull-right" style="margin-left: 3px;">
                <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" (click)="listVersions()" title="Change version">
                    <span class="glyphicon glyphicon-time"></span>
                </button>
                <ul class="dropdown-menu">
                    <li style="position: relative;">
                        <a (click)="switchToVersion()" style="padding-right: 18px">Current</a>
                        <span *ngIf="!activeVersion" class="glyphicon glyphicon-ok pull-right" style="position: absolute; right: 4px;"></span>
                    </li>
                    <li *ngFor="let v of versionList" style="position: relative;">
                        <a (click)="switchToVersion(v)" style="padding-right: 18px">{{v.dateTimeLocal}} - {{v.versionId}}</a>
                        <span *ngIf="v == activeVersion" class="glyphicon glyphicon-ok pull-right" style="position: absolute; right: 4px;"></span>
                    </li>
                </ul>
            </div>
            
            <button class="btn btn-default btn-xs" style="margin-left: 3px;" [ngClass]="{active: showInferred}"
                title="Show/hide inferred information" (click)="showHideInferred()">
                <span *ngIf="showInferred" class="glyphicon glyphicon-eye-open"></span>
                <span *ngIf="!showInferred" class="glyphicon glyphicon-eye-close"></span>
            </button>
            <button class="btn btn-default btn-xs" title="Refresh" (click)="buildResourceView(resource)" style="margin-left: 3px;">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <res-view-menu [resource]="resource" (update)="buildResourceView(resource)" [readonly]="readonly"></res-view-menu>
        </div>
    </div>
    <div class="panel-body scrollableContainer">
        <types-renderer *ngIf="typesColl" [pred-obj-list]="typesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </types-renderer>
        <class-axiom-renderer *ngIf="classAxiomColl" [pred-obj-list]="classAxiomColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </class-axiom-renderer>
        <top-concepts-renderer *ngIf="topconceptofColl" [pred-obj-list]="topconceptofColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </top-concepts-renderer>
        <schemes-renderer *ngIf="schemesColl" [pred-obj-list]="schemesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </schemes-renderer>
        <broaders-renderer *ngIf="broadersColl" [pred-obj-list]="broadersColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </broaders-renderer>
        <superproperties-renderer *ngIf="superpropertiesColl" [pred-obj-list]="superpropertiesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </superproperties-renderer>
        <domains-renderer *ngIf="domainsColl" [pred-obj-list]="domainsColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </domains-renderer>
        <ranges-renderer *ngIf="rangesColl" [pred-obj-list]="rangesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </ranges-renderer>
        <property-facets-renderer *ngIf="inverseofColl && propertyFacets" [pred-obj-list]="inverseofColl" [facets]="propertyFacets"
            [resource]="resource" [readonly]="readonly" (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </property-facets-renderer>
        <lexicalizations-renderer *ngIf="lexicalizationsColl" [pred-obj-list]="lexicalizationsColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </lexicalizations-renderer>
        <notes-renderer *ngIf="notesColl" [pred-obj-list]="notesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </notes-renderer>
        <members-renderer *ngIf="membersColl" [pred-obj-list]="membersColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </members-renderer>
        <members-ordered-renderer *ngIf="membersOrderedColl" [pred-obj-list]="membersOrderedColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </members-ordered-renderer>
        <label-relations-renderer *ngIf="labelRelationsColl" [pred-obj-list]="labelRelationsColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </label-relations-renderer>
        <properties-renderer *ngIf="propertiesColl" [pred-obj-list]="propertiesColl" [resource]="resource" [readonly]="readonly"
            (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
        </properties-renderer>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="../../assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>