<div class="dropdown pull-right">
    <button class="dropdown-toggle resViewPartitionBtn" data-toggle="dropdown" [disabled]="readonly">
        <span>&#9662;</span>
    </button>
    <ul class="dropdown-menu">
        <li [ngClass]="{ disabled : isAlignDisabled() }">
            <a (click)="alignResource()">Align with external resource</a>
        </li>
        <li *ngIf="isURIResource()" [ngClass]="{ disabled : isSetDeprecatedDisabled() }">
            <a (click)="setAsDeprecated()">Set as deprecated</a>
        </li>
        <li *ngIf="resource.getRole() == 'xLabel'"
            [ngClass]="{ disabled : isSpawnFromLabelDisabled() }">
            <a (click)="spawnNewConceptWithLabel()">Spawn new concept from this xLabel</a>
        </li>
    </ul>
</div>