<div class="modal-body vbox" style="height:80vh;">
    <resource-view [resource]="context.resource" readonly="true"></resource-view>    
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)">Ok</button>
</div>