<div class="subPanel">
    
    <div class="subPanel-heading">
        <label style="flex: 1">{{predicateObjects.getPredicate().getShow()}}</label>
        <button class="resViewPartitionBtn" [title]="getAddPropImgTitle(predicateObjects.getPredicate())" (click)="addValue()"
            [disabled]="isAddDisabled()">
            <span>+</span>
        </button>
    </div>
    
    <div class="subPanel-body">

        <ng-template ngFor let-obj [ngForOf]="predicateObjects.getObjects()" let-i="index">
            <ng-template [ngIf]="showObject(i)"> <!-- paging filter -->

                <div class="listItem">
                    <editable-resource *ngIf="!renderAsReified(predicateObjects.getPredicate(), obj)" style="flex: 1" [resource]="obj"
                        [subject]="resource" [predicate]="predicateObjects.getPredicate()" [readonly]="readonly" [partition]="partition"
                        (dblClick)="objectDblClick($event)" (delete)="removeValue(obj)" (update)="onObjectUpdate()"
                        [ngClass]="{ clickable: obj.isResource() }"></editable-resource>
                    <ng-template [ngIf]="renderAsReified(predicateObjects.getPredicate(), obj)">
                        <reified-resource [resource]="obj" [predicate]="predicateObjects.getPredicate()"
                            [ngClass]="{ clickable: obj.isResource() }" style="flex:1"
                            (dblClick)="objectDblClick($event)"></reified-resource>
                        <button class="resViewPartitionBtn" [title]="getRemovePropImgTitle(predicateObjects.getPredicate())"
                            (click)="removeValue(obj)" [disabled]="isRemoveReifiedObjDisabled(obj)">
                            <span>-</span>
                        </button>
                    </ng-template>
                </div>

            </ng-template>
        </ng-template>

        <ng-template [ngIf]="showMoreButton()">
            <button class="btn btn-xs btn-default" style="width: 100%; color: #888; border-color: #ddd;" (click)="showMore()">
                Show more...
            </button>
        </ng-template>

    </div>

</div>