<class-tree-panel [style]="classTreeStyle" (nodeSelected)="onClassSelected($event)" [hideSearch]="true" 
    [readonly]="readonly"></class-tree-panel>

<!-- Splitter -->
<div class="splitter">
    <span *ngIf="classTreeFlex > 1" class="glyphicon glyphicon-chevron-up" (click)="reduceClassTree()"></span>
    <span *ngIf="classTreeFlex < 3" class="glyphicon glyphicon-chevron-down" (click)="expandClassTree()"></span>
</div>

<instance-list-panel [style]="instanceListStyle" [cls]="selectedClass" (nodeSelected)="onInstanceSelected($event)" 
    [hideSearch]="true" [readonly]="readonly"></instance-list-panel>

<div class="panel panel-default" style="margin-top: 4px;">
    <search-bar (search)="doSearch($event)" [roles]="rolesForSearch"></search-bar>
</div>

<div #blockDivClsIndList class="blockingDiv" style="display:none">
    <div class="loadingDiv">
        <div>
            <p>Loading...</p><img src="../../../../assets/images/loading.gif" />
        </div>
    </div>
</div>

<!--<div style="font-size: 6px; align-self: center;" (mousedown)="onMousedown()" (mouseup)="onMouseup()"
    (mousemove)="onMousemove($event)">
    <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span>
</div>-->