<div class="vbox">
    <resource-view [resource]="resource" (dblclickObj)="objectDblClick($event)" (update)="onMainResourceUpdate($event)"></resource-view>
</div>

<div *ngIf="object" class="vbox" style="margin-left: 5px; position: relative">
    <resource-view [resource]="object" (dblclickObj)="objectDblClick($event)" (update)="onSecondaryResourceUpdate($event)"></resource-view>
    <div style="position: absolute; left: 2px; top: 0px;">
        <button type="button" class="close" (click)="closeSecondaryResView()" title="Close this resource view">
            <span class="glyphicon glyphicon-remove" style="font-size: 10px"></span>
        </button>
        <button *ngIf="resStack.length>0" type="button" class="close" (click)="previousResView()" title="Previous resource">
            <span class="glyphicon glyphicon-chevron-left" style="font-size: 10px"></span>
        </button>
    </div>
</div>