<resource-view-splitted *ngIf="resViewMode=='splitted'" [resource]="resource"></resource-view-splitted>
<resource-view-tabbed *ngIf="resViewMode=='tabbed'" [resource]="resource"></resource-view-tabbed>