<div class="modal-header">
    <h3 class="modal-title">{{context.title}}</h3>
</div>
<div class="modal-body">
    <div (keydown)="onKeydown($event)">
        <div class="hbox" style="align-items: center; margin-bottom: 4px;">
            <label style="width: 50px;">Value:</label>
            <textarea id="toFocus" type="text" class="form-control input-sm" rows="1" style="flex: 1; margin-right: 4px; height: initial"
                [(ngModel)]="value" [disabled]="context.valueReadonly"></textarea>
            <lang-picker [lang]="lang" (langChange)="onLangChange($event)" [disabled]="context.langReadonly"></lang-picker>
        </div>
    </div>
    <div *ngIf="!isInputValid() && submitted" class="alert alert-danger">
        <strong>Value</strong> is required
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok($event)" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-default btn-sm" (click)="cancel()">Cancel</button>
</div>