<div class="panel panel-default vbox">
    <!-- Commands -->
    <div class="panel-heading">
        <div class="btn-group btn-group-xs" role="group" style="flex: 1">
            <button class="btn btn-default" title="Create Concept Scheme" (click)="create()" [disabled]="isCreateDisabled()">
                <img src="../../../../../assets/images/icons/actions/conceptScheme_create.png" class="panelButtonImg"/>
            </button>
            <button class="btn btn-default" title="Delete Concept Scheme" (click)="delete()" [disabled]="isDeleteDisabled()">
                <img src="../../../../../assets/images/icons/actions/conceptScheme_delete.png" class="panelButtonImg"/>
            </button>
        </div>
        <button class="btn btn-default btn-xs" title="Rendering" (click)="rendering = !rendering"
            style="margin: 0px 5px;" [ngClass]="{active: rendering}">
            <span class="glyphicon glyphicon-font"></span>
        </button>
        <button class="btn btn-default btn-xs" title="Refresh" (click)="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <div class="panel-body vbox">
        <div class="scrollableContainer">
            <div *ngFor="let s of schemeList">
                <div class="schemeItem">
                    <input type="checkbox" style="margin-right: 5px;" [(ngModel)]="s.checked" (ngModelChange)="updateActiveSchemesPref()">
                    <scheme-list-node [node]="s.scheme" [rendering]="rendering" (nodeSelected)="selectSchemeItem(s)" style="flex:1">
                    </scheme-list-node>
                </div>
            </div>
        </div>
    </div>

    <!-- search -->
    <div class="panel-footer">
        <search-bar (search)="doSearch($event)"></search-bar>
    </div>

</div>